{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Navigation -->
<div ng-include="'{% static 'orgwolf/header.html' %}'"></div>

<!-- Form for submitting feedback -->
<div ow-feedback>
</div>

<!-- Alert if the user is not logged in -->
<div ow-login></div>

<!-- Displays indicators if there's a noticeable wait time -->
<div ow-wait-feedback class="wait-indicator" ng-show="long_wait">
  <div class="mask" ng-show="short_wait">
    <div id="dark"></div>
    <img id="spinner" alt="loading"
	 src="{% static 'orgwolf/ajax-loader.gif' %}"></img>
  </div>
</div>

<!-- Popup notifications -->
<toaster-container></toaster-container>

<!-- View for angular controller to fill in -->
<div ng-view class="view-animate">

  <!-- Fallback error message for non-javascript browsers -->
  <div class="noscript">
    <div class="row logo">
      <div>
	<img src="{% static 'orgwolf/orgwolf-logo-big.jpg' %}" alt="Orgwolf logo" />
      </div>
    </div>
    <div class="row">
      <div>
	<div class="alert alert-danger">
	  <strong>Orgwolf requires javascript.</strong>
	  Please enable javascript or upgrade your browser.
	</div>
      </div>
    </div>
    <div class="row">
      <img src="{% static 'orgwolf/404.jpg' %}" alt="ripped page graphic" />
    </div>
  </div>

</div>

{% endblock %}
