{% load gtd_extras %}
{% load static %}
{% comment %}
  Copyright 2012 Mark Wolfman

  This file is part of OrgWolf.

  OrgWolf is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="orgwolf">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if debug %}
    <link rel="icon"
	  type="image/png"
	  href="{% static 'orgwolf/orgwolf-icon-debug.png' %}" />
    {% else %}
    <link rel="icon"
	  type="image/png"
	  href="{% static 'orgwolf/orgwolf-icon.ico' %}" />
    {% endif %}

    <link rel="apple-touch-icon"
	  href="{% static 'orgwolf/orgwolf-icon-114.png' %}" />
    <link rel="stylesheet" type="text/css"
	  href="{% static 'orgwolf/social/auth-buttons.css' %}" />

    {% if not debug %}
    <link rel="stylesheet" type="text/css"
	  href="{% static 'orgwolf.css' %}" />
    {% endif %}

    <script src="{% static 'orgwolf.js' %}"></script>

    {% block script %}
    <script type="text/javascript">
      // Save some user data and the todo states
      angular.module('orgwolf')
      {% if request.user.is_authenticated %}
          .run(function(activeState) {
      	      activeState.user = {{ request.user.id }};
	  })
      {% endif %}
          .value('todoStatesList',
      	      {% todo_states_json %}
	  );
      document.addEventListener("DOMContentLoaded", function(event) {
	// Google analytics
	{% if not debug %}
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-47040758-1', 'orgwolf.com');
	ga('send', 'pageview');
	{% endif %}
        });
      var owFilters = angular.module('orgwolf.tools');
      owFilters.value('staticUrl', '{% static '' %}');

    </script>
    {% endblock %}

  </head>

  <body debug="{{ debug }}">

    {% block body %}

    {% block content %}
    {% endblock %}

    {% endblock %}

  </body>
</html>
