{% load static %}
<!DOCTYPE html>
<html>

  <head>
    <title>Jasmine Test Runner</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'orgwolf/images/jasmine-favicon.ico' %}">

    <link rel="stylesheet" type="text/css"
    	  href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.3.0/jasmine.css">

  </head>
  <body>
    <!-- Jasmine javascript files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.3.0/jasmine.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.3.0/jasmine-html.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.3.0/boot.js"></script>

    <!-- Libraries -->
    <!-- <script src="{% static 'bower/jquery/dist/jquery.js' %}"></script> -->
    <!-- <script src="{% static 'bower/bootstrap/dist/js/bootstrap.js' %}"></script> -->
    <!-- <script src="{% static 'bower/bootstrap-switch/build/js/bootstrap-switch.js' %}"></script> -->
    <!-- <script src="{% static 'bower/angular/angular.js' %}"></script> -->
    <!-- <script src="{% static 'bower/angular-animate/angular-animate.js' %}"></script> -->
    <!-- <script src="{% static 'bower/angular-mocks/angular-mocks.js' %}"></script> -->
    <!-- <script src="{% static 'bower/angular-resource/angular-resource.js' %}"></script> -->
    <!-- <script src="{% static 'bower/angular-sanitize/angular-sanitize.js' %}"></script> -->
    <!-- <script src="{% static 'bower/angular-cookies/angular-cookies.js' %}"></script> -->
    <!-- <script src="{% static 'bower/angular-route/angular-route.js' %}"></script> -->
    <!-- <script src="{% static 'bower/AngularJS-Toaster/toaster.js' %}"></script> -->
    <!-- <script src="{% static 'bower/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script> -->
    <!-- <script src="{% static 'bower/angular-ui-calendar/src/calendar.js' %}"></script> -->

    <!-- Orgwolf files -->
    <script src="{% static 'orgwolf.js' %}"></script>
    <!-- <script src="{% static 'gtd-models.js' %}"></script> -->
    <!-- <script src="{% static 'gtd-services.js' %}"></script> -->
    <!-- <script src="{% static 'gtd-directives.js' %}"></script> -->
    <!-- <script src="{% static 'gtd-filters.js' %}"></script> -->
    <!-- <script src="{% static 'gtd-main.js' %}"></script> -->
    <!-- <script src="{% static 'wolfmail-models.js' %}"></script> -->
    <!-- <script src="{% static 'wolfmail-services.js' %}"></script> -->
    <!-- <script src="{% static 'wolfmail-directives.js' %}"></script> -->
    <!-- <script src="{% static 'wolfmail-filters.js' %}"></script> -->
    <!-- <script src="{% static 'wolfmail-ctrl.js' %}"></script> -->
    <!-- <script src="{% static 'orgwolf/orgwolf-services.js' %}"></script> -->
    <!-- <script src="{% static 'orgwolf/orgwolf-filters.js' %}"></script> -->
    <!-- <script src="{% static 'orgwolf/orgwolf-directives.js' %}"></script> -->

    <!-- include spec files here... -->
    <script src="{% static 'tests.js' %}"></script>
    <!-- <script src="{% static 'gtd-tests.js' %}"></script> -->
    <!-- <script src="{% static 'wolfmail-tests.js' %}"></script> -->
    <!-- <script src="{% static 'orgwolf/orgwolf-tests.js' %}"></script> -->

  </body>
</html>
