<div ng-hide="isEditable"
     class="gtd-list__row gtd-list__row--priority-{{ heading.priority() }}"
     ng-class="{'gtd-list__row--completed': completed}">
  <div class="gtd-list__col gtd-list__col--state">
    <span ow-todo ow-heading="heading">
      {{ todoState.abbreviation }}
    </span>
  </div>
  <div class="gtd-list__col gtd-list__col--description">
    <span class="gtd-list__priority" ng-show="heading.priority()">
      [#{{ heading.priority() }}]
    </span>
    <a ng-click="edit(heading)" ng-hide="heading.read_only" class="gtd-list__title">
      {{ heading.title}}
      <span ng-show="heading.has_text">&hellip;</a>
    <span ng-show="heading.read_only" class="gtd-list__title--read-only">
      {{ heading.title}}</span>
    <i ng-if="heading.repeats"
       class="repeat-icon"></i>
    <span class="gtd-list__badge gtd-list__badge--read-only"
	  ng-show="heading.read_only">Read only</span>
    <i class="needs-active-location"
       title="Action needs to current location."
       ng-if="heading | needsActiveLocation"></i>
    <span ng-repeat="tag in tags" class="gtd-list__badge non-opening">{{ tag }}</span>
  </div>
  <div class="gtd-list__col gtd-list__col--buttons">
    <div class="heading-buttons">
      <button class="heading-buttons__button"
	      ng-click="edit(heading)" ng-disabled="heading.read_only"
	      title="Edit this action">
	<i class="fas fa-edit"></i>
	<span class="collapse-label">Edit</span>
      </button>
      <a href="/gtd/projects/#{{heading.id}}-{{heading.slug}}"
	 class="heading-buttons__button"
	 title="View this action in the project view">
	<span class="fas fa-folder-open"></span>
	<span class="collapse-label">Project</span>
      </a>
    </div>
  </div>
  <div class="gtd-list__col gtd-list__col--deadline">
    {{ owDate }}
  </div>
  <div class="gtd-list__col gtd-list__col--project">
    <span class="collapse-label">Project:</span>
    {{ heading.root_name }}
    <button class="gtd-list__filter-button"
	    ng-click="$emit('filter-parent', heading.root_id)">
      <i class="fas fa-filter"></i>
      Filter
    </button>
  </div>
</div>

<div ow-editable ng-if="isEditable" ow-heading="heading">
</div>
