<div class="modal fade" id="feedbackModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="form" novalidate>
	<div class="modal-header">
	  <h4 class="modal-title">Feedback</h4>
	  <button type="button" class="inbox-modal__button inbox-modal__button--close" data-bs-dismiss="modal" aria-hidden="true"></button>
	</div>
	<div class="modal-body">
	  <textarea class="form-control" rows="5"
		    placeholder="What's on your mind?"
		    ng-model="feedback.text"
		    required
		    ng-hide="success"></textarea>
	  <div class="alert alert-success"
	       ng-show="success">Thank you for your feedback.</div>
	</div>
	<div class="modal-footer">
	  <button type="button" class="inbox-modal__button inbox-modal__button--confirm"
		  name="feedback_text"
		  ng-click="send_feedback(feedback)"
		  ng-disabled="form.$invalid">
	    Submit Feedback</button>
	  <button type="button" class="inbox-modal__button inbox-modal__button--cancel"
		  data-bs-dismiss="modal">Cancel</button>
	</div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
