<div id="inbox">
  <!-- Message to show if inbox is empty -->
  <div class="inbox-zero"
       ng-show="messages.length === 0 && messages.$resolved">
    <p>
      No messages in inbox. Congratulations on reaching
      <strong>inbox zero</strong>!
    </p>
  </div>
  <!-- Table shows the list of messages -->
  <div class="message-list" ng-if="messages.length && messages.$resolved">
    <div class="controls">
      <!-- Refresh button -->
      <div class="refresh">
	<button class="btn btn-default" ng-click="get_messages()">
	  <span class="glyphicon glyphicon-refresh"></span>
	  Refresh
	</button>
      </div>

      <div class="current-date" ow-current-date>
      </div>
    </div>

    <div class="table-heading">
      <div class="action-buttons">Actions</div>
      <div class="from">From</div>
      <div class="subject">Subject</div>
      <div class="received">Received</div>
    </div>

    <div ng-repeat="message in messages" unread="{{ message.unread }}"
	 ow-handler="{{ message.handler_path }}"
	 class="message-full-row"
	 ow-message-row>
      <div class="message-row">
	<div class="action-buttons btn-group btn-group-xs">
	  <button class="msg-task btn btn-primary"
		  ng-click="open_task_modal(message)">
	    <span class="glyphicon glyphicon-unchecked"
		  data-title="New Task"></span>
	  </button>
	  <button class="msg-project btn btn-info"
		  ng-click="create_project_modal(message)">
	    <span class="glyphicon glyphicon-folder-close"
		  data-title="New Project"></span>
	  </button>
	  <button class="msg-complete btn btn-success"
		  ng-click="complete_task(message)">
	    <span class="glyphicon glyphicon-check"
		  data-title="Mark as 'Done'"></span>
	  </button>
	  <button class="msg-defer btn btn-warning"
		  ng-click="defer_modal(message)">
	    <span class="glyphicon glyphicon-time"
		  data-title="Defer"></span>
	  </button>
	  <button class="msg-archive btn btn-default"
		  ng-click="archive(message)">
	    <span class="glyphicon glyphicon-save"
		  data-title="Archive"></span>
	  </button>
	  <button class="msg-delete btn btn-danger"
		  ng-click="delete_modal(message)">
	    <span class="glyphicon glyphicon-trash"
		  data-title="Delete"></span>
	  </button>
	</div><!-- /.action-buttons -->

	<div class="from" ng-bind-html="message | format_sender"></div>
	<div class="subject">
	  <a href="{{ message.id }}"
	     ng-bind-html="message | format_subject">
	  </a>
	</div>
	<div class="received"
	     ng-bind-html="message.rcvd_date | format_date"></div>
      </div>
      <div ng-repeat-start="heading in headings" class="message-heading"
	   ow-message-heading
	   ng-hide="isEditable">
	<div>
	  <span class="heading-icon glyphicon glyphicon-arrow-right"></span>
	  {{ heading.title }}
	  <button class="btn btn-sm btn-default"
		  ng-click="isEditable = !isEditable">
	    Edit</button>
	</div>
      </div>
      <div ng-repeat-end ow-editable class="row" ow-heading="heading" ng-if="isEditable"></div>
    </div><!-- /.message-full-row -->
  </div><!-- /.message-list -->
</div><!-- /#inbox -->

<div ow-msg-actions>
</div>
