<div class="inbox">
  <ul class="inbox-controls">
    <!-- Refresh button and date selector -->
    <li class="date-widget inbox-controls__item" ow-current-date></li>
    <li class="inbox-controls__item">
      <button class="inbox-controls__button" ng-click="get_messages()">
	<i></i>
	<span class="inbox-controls__icon inbox-controls__icon--refresh"></span>
	Refresh
      </button>
    </li>
    <!-- Search box -->
    <li class="inbox-controls__item"
	 ng-include="'/static/search-box.html'">
    </li>
  </ul>

  <!-- Message to show if inbox is empty -->
  <div class="inbox__inbox-zero-message"
       ng-show="messages.length === 0 && messages.$resolved">
    <p>
      No messages in inbox. Congratulations on reaching
      <strong>inbox zero</strong>!
    </p>
  </div>
  <!-- Table shows the list of messages -->
  <div class="inbox-list" ng-if="messages.length && messages.$resolved">

    <div class="inbox-list__row inbox-list__row--header">
      <div class="inbox-list__col inbox-list__col--action-buttons">Actions</div>
      <div class="inbox-list__col inbox-list__col--from">From</div>
      <div class="inbox-list__col inbox-list__col--subject">Subject</div>
      <div class="inbox-list__col inbox-list__col--received">Received</div>
    </div>

    <div ng-repeat="message in messages" unread="{{ message.unread }}"
	 ow-handler="{{ message.handler_path }}"
	 class="inbox-list__row-group"
	 ow-message-row>
      <div class="inbox-list__row">
	<div class="inbox-list__col inbox-list__col--action-buttons">
	  <div class="inbox-list__action-buttons">
	    <button class="inbox-list__action-button inbox-list__action-button--new-task"
		    ng-click="open_task_modal(message)">
	      <span data-title="New Task">
		<i class="inbox-list__icon inbox-list__icon--new-task"></i>
	      </span>
	    </button>
	    <button class="inbox-list__action-button inbox-list__action-button--new-project"
		    ng-click="create_project_modal(message)">
	      <span data-title="New Project">
		<i class="inbox-list__icon inbox-list__icon--new-project"></i>
	      </span>
	    </button>
	    <button class="inbox-list__action-button inbox-list__action-button--complete"
		    ng-click="completeTask(message)">
	      <span data-title="Mark as 'Done'">
		<i class="inbox-list__icon inbox-list__icon--complete"></i>
	      </span>
	    </button>
	    <button class="inbox-list__action-button inbox-list__action-button--defer"
		    ng-click="show_defer_modal(message)">
	      <span data-title="Defer">
		<i class="inbox-list__icon inbox-list__icon--defer"></i>
	      </span>
	    </button>
	    <button class="inbox-list__action-button inbox-list__action-button--archive"
		    ng-click="archive(message)">
	      <span data-title="Archive">
		<i class="inbox-list__icon inbox-list__icon--archive"></i>
	      </span>
	    </button>
	    <button class="inbox-list__action-button inbox-list__action-button--delete"
		    ng-click="show_delete_modal(message)">
	      <span data-title="Delete">
		<i class="inbox-list__icon inbox-list__icon--delete"></i>
	      </span>
	    </button>
	  </div><!-- /.inbox-list__action-buttons -->
	</div><!-- /.inbox-list__row--action-buttons -->

	<div class="inbox-list__col inbox-list__col--from">
	  <span ng-bind-html="message | format_sender"></span>
	  <span class="repeat-icon"
		ng-show="message.repeats"></span>
	</div>
	<div class="inbox-list__col inbox-list__col--subject">
	  <a href="{{ message.id }}"
	     ng-bind-html="message | format_subject">
	  </a>
	</div>
	<div class="inbox-list__col inbox-list__col--received"
	     ng-bind-html="message.rcvd_date | format_date"></div>
      </div><!-- /.inbox-list__row -->
      <div ng-repeat-start="heading in headings" class="inbox-list__heading"
	   ow-message-heading
	   ng-hide="isEditable">
	<div>
	  <span class="inbox-list__icon inbox-list__icon--heading"></span>
	  <span ow-todo ow-heading="heading"></span>
	  {{ heading.title }}
	  <button class="inbox-list__heading-button"
		  ng-click="isEditable = !isEditable">
	    <span class="inbox-list__icon inbox-list__icon--edit-heading"></span>
	    Edit</button>
	</div>
      </div>
      <div ng-repeat-end ow-editable class="row" ow-heading="heading" ng-if="isEditable"></div>
    </div><!-- /.message-full-row -->
  </div><!-- /.message-list -->
</div><!-- /#inbox -->

<div ow-msg-actions>
</div>
