<a href="/wolfmail/inbox/" class="btn btn-default">
  <span class="glyphicon glyphicon-arrow-left"></span>
  Inbox
</a>

<div class="btn-group">
  <button class="btn btn-primary" ng-click="open_task_modal(msg)">
    <span class="glyphicon glyphicon-unchecked"></span>
    New Task
  </button>
  <!-- <button class="btn btn-success" ng-click="create_task_modal(msg)"> -->
  <!--   <span class="glyphicon glyphicon-check"></span> -->
  <!--   Mark as 'DONE' -->
  <!-- </button> -->
  <button class="btn btn-info" ng-click="create_project_modal(msg)">
    <span class="glyphicon glyphicon-folder-close"></span>
    New Project
  </button>
  <button class="btn btn-warning" ng-click="defer_modal(msg)">
    <span class="glyphicon glyphicon-time"></span>
    Defer
  </button>
  <button class="btn btn-default" ng-click="archive_msg(msg)">
    <span class="glyphicon glyphicon-save"></span>
    Archive
  </button>
  <button class="btn btn-danger" ng-click="delete_modal(msg)">
    <span class="glyphicon glyphicon-trash"></span>
    Delete
  </button>
</div>

<h1>{{ msg.fields.subject }}</h1>
<p>{{ msg.fields.message_text }}</p>

<div ow-msg-actions>
</div>
