<!-- Details of an individual message -->
<div id="message-detail" class="message-detail">
  <div class="message-detail__buttons">
    <a href="/wolfmail/inbox/" class="message-detail__action-button message-detail__action-button--back">
      <span class="fas fa-arrow-left"></span>
      Inbox
    </a>

    <button class="message-detail__action-button message-detail__action-button--new-task"
	    ng-click="open_task_modal(msg)">
      <i class="inbox-list__icon inbox-list__icon--new-task"></i>
      New Task
    </button>
    <!-- <button class="btn btn-success" ng-click="create_task_modal(msg)"> -->
    <!--   <span class="fas fa-check-square"></span> -->
    <!--   Mark as 'DONE' -->
    <!-- </button> -->
    <button class="message-detail__action-button message-detail__action-button--new-project"
	    ng-click="create_project_modal(msg)">
      <i class="fas fa-folder"></i>
      New Project
    </button>
    <button class="message-detail__action-button message-detail__action-button--defer"
	    ng-click="defer_modal(msg)">
      <i class="fas fa-clock"></i>
      Defer
    </button>
    <button class="message-detail__action-button message-detail__action-button--archive"
	    ng-click="archive_msg(msg)">
      <span class="fas fa-archive"></span>
      Archive
    </button>
    <button class="message-detail__action-button message-detail__action-button--delete"
	    ng-click="delete_modal(msg)">
      <span class="fas fa-trash"></span>
      Delete
    </button>
  </div>

  <h1>{{ msg.subject }}</h1>
  <p ng-bind-html="msg.message_text"></p>

  <div ow-msg-actions>
  </div>
</div>
