*.log
*.pot
*.pyc
*~
local_settings.py
LICENSE-HEADING
work.org
gtd/fixtures/production-data.json
orgwolf/static/aloha/
orgwolf/static/bower/
venv/
htmlcov/

# Collected static files
www/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
