*.log
*.pot
*.pyc
*~
local_settings.py
LICENSE-HEADING
work.org
gtd/fixtures/production-data.json
orgwolf/static/aloha/
orgwolf/static/bower/
venv/
htmlcov/

# Collected static files
^static/
orgwolf/static/skins

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Node.js modules
node_modules/
package-lock.json