{% load accounts %}

<table id="login">
  <form action="{% url 'login' %}" method="post">
    <tr>
      <td></td>
      <td>
	<span class="login">
	</span>
      </td>
    </tr>
    {{ form.as_table }}
    {% csrf_token %}
    <tr>
      <td>&nbsp;</td>
      <td>
	<button type="submit" class="btn btn-primary">Login</button>
	<a href="{{ next_page }}" class="cancel btn">Cancel</a>
	<input type="hidden" name="next" value="{{ next }}" />
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
	{#% login_buttons 'Login using <b>{0}</b>' %#}
      </td>
    </tr>
  </form>
</table>
