{% load accounts %}
<table id="login">
  <form action="{% url 'django.contrib.auth.views.login' %}" method="post">
    {{ form.as_table }}
    {% csrf_token %}
    <tr>
      <td>&nbsp;</td>
      <td>
	<input type="submit" value="Login" class="btn"/>
	<a href="{{ next_page }}" class="cancel">Cancel</a>
	<input type="hidden" name="next" value="{{ next }}" />
      </td>
    </tr>
  <tr>
    <td>&nbsp;
    </td>
    <td>
    {% login_buttons 'Login using <b>{0}</b>' %}
    </td>
  </tr>
  </form>    
</table>
