<div id="gtd-list">
  <div class="row">
    <!-- Current date widget -->
    <div class="date-widget" ow-current-date></div>
    <div class="refresh-btn">
      <button ng-click="refreshList()"><span class="icon"></span> Refresh</button>
    </div>
  </div>
  <!-- Hard scheduled List -->
  <div id="scheduled-list" ng-show="scheduledList.length">
    <div class="table-heading">
      <div class="description">Description</div>
      <div class="buttons"></div>
      <div class="deadline">Scheduled</div>
      <div class="project">Project</div>
    </div>

    <div ow-list-row ng-repeat="heading in scheduledList" ow-heading="heading"
	 ow-date="{{ heading.scheduled_date }} {{ heading.scheduled_time }}">
    </div>
    <!-- end repeating scheduled list -->
  </div><!-- /#scheduled-list -->

  <!-- List filtering control -->
  <h4 ng-if="context_name">{{ context_name }}</h4>
  <form action="" method="POST" id="list-filters"
	class="form-inline ow-unauth-hide">
    <!-- Context selection box -->
    <label for="context">Context:</label>
    <select name="context" ng-model="activeContext" class="form-control"
	    ng-options="x.id as x.name for x in contexts"
	    ng-change="changeContext()">
	    <option value="">None</option>
    </select>
    <!-- TodoState selection checkboxes -->
    <label class="checkbox-inline" ng-repeat="state in todoStates" style="{{ state | todoStateStyle }}">
      <input type="checkbox" ow-state="{{ state.id }}"
	     ng-click="toggleTodoState(state)"
	     ng-checked="activeStates.indexOf(state.id) > -1"></input>
	     {{ state.abbreviation }}
    </label>
  </form>

  <!-- Indicator for current active project -->
  <span ng-if="activeParent">
    Project:
    <a id="active_parent"
       href="/gtd/project/#{{activeParent.id}}-{{activeParent.slug}}">
      {{ activeParent.title }}</a>
    [<a ng-click="$emit('filter-parent', null)">&times;</a>]
  </span>

  <!-- Scope Tabs -->
  <div ow-scope-tabs>
  </div>

  <!-- Actionable Items Header -->
  <div class="table-heading">
    <div class="description">Description</div>
    <div class="buttons"></div>
    <div class="deadline">Deadline</div>
    <div class="project">Project</div>
  </div>

  <div ow-list-row
       ng-repeat="heading in visibleHeadings | order:'list'"
       ow-heading="heading" ow-date="{{ heading | deadline_str }}"
       ng-if="!activeScope || heading.scope.indexOf(activeScope.id) > -1">
  </div>

  <div class="alert-empty" ng-show="visibleHeadings.length === 0">
    No actions here. Try another Scope, Context or
    TodoState combination.
  </div>

</div><!-- /#gtd-list -->
