<div ng-hide="isEditable"
     ng-class="{'completed': completed}">
  <div class="description">
    <span ow-todo ow-heading="heading">
      {{ todoState.abbreviation }}
    </span>
    <span class="priority" ng-show="heading.priority">
      [#{{ heading.priority }}]
    </span>
    <a ng-click="edit(heading)" ng-hide="heading.read_only" class="heading-title">
      {{ heading.title}}
      <span ng-show="heading.has_text">&hellip;</a>
    <span ng-show="heading.read_only" class="heading-title">
      {{ heading.title}}</span>
    <i ng-if="heading.repeats"
	  class="repeat-icon"></i>
    <span class="read-only-label"
	  ng-show="heading.read_only"></span>
    <i class="needs-active-location"
       title="Action needs to current location."
       ng-if="heading | needsActiveLocation"></i>
    <span ng-repeat="tag in tags" class="tag non-opening">{{ tag }}</span>
  </div>
  <div class="buttons">
    <div class="action-buttons btn-group">
      <button class="btn btn-default btn-xs"
	      ng-click="edit(heading)" ng-disabled="heading.read_only">
	<i class="fas fa-edit"></i>
	<span class="collapse-label">Edit</span>
      </button>
      <a href="/gtd/projects/#{{heading.id}}-{{heading.slug}}"
	 class="btn btn-default btn-xs"
	 title="View this task in the project view">
	<span class="fas fa-folder-open"></span>
	<span class="collapse-label">Project</span>
      </a>
    </div>
  </div>
  <div class="deadline">
    {{ owDate }}
  </div>
  <div class="project">
    <span class="collapse-label">Project:</span>
    {{ heading.root_name }}
    <button class="filter-button btn"
	    ng-click="$emit('filter-parent', heading.root_id)">
      <i class="fas fa-filter"></i>
      Filter
    </button>
  </div>
</div>

<div ow-editable ng-if="isEditable" ow-heading="heading">
</div>
