<!-- Template for buttons to edit/view project/etc -->
<script type="text/ng-template" id="action-buttons">
  <div class="btn-group action-buttons">
    <button class="btn btn-default btn-xs"
	    ng-click="edit(heading)">
      <span class="glyphicon glyphicon-edit"></span>
      <span class="collapse-label">Edit</span>
    </button>
    <button class="btn btn-default btn-xs">
      <span class="glyphicon glyphicon-folder-open"></span>
      <span class="collapse-label">Project</span>
    </button>
  </div>
</script>

<div id="gtd-list">
  <!-- Hard scheduled List -->
  <div id="scheduled-list" ng-if="scheduled.length">
    <div class="table-heading">
      <div class="description">Description</div>
      <div class="buttons"></div>
      <div class="deadline">Scheduled</div>
      <div class="project">Project</div>
    </div>

    <div ow-list-row
	 ng-repeat="heading in scheduled"
	 ow-priority="{{ heading.fields.priority }}"
	 archvied="{{ heading.fields.archived }}">
      <div class="heading-row" ng-hide="heading.editable">
	<div class="description">
	  <span ow-todo>
	    {{ heading.todo_state.fields.abbreviation }}
	  </span>
	  <a href="/gtd/project/#{{ heading.pik }}-{{ heading.fields.slug }}">
	    {{ heading.fields.title }}</a>
	  <span ng-if="heading.fields.repeats"
    		class="glyphicon glyphicon-repeat"></span>
	</div>
	<div class="buttons">
    	  <span ng-include="'action-buttons'"></span>
	</div>
	<div class="deadline">
	  {{ heading.fields.scheduled_date }} {{ heading.fields.scheduled_time }}
	</div>
	<div class="project">
	  <span class="collapse-label">Project:</span>
    	  <a ng-click="filter_parent(heading)">
    	    {{ heading.fields.root_name }}
	  </a>
	</div>
      </div><!-- /.heading-row -->
      <div ow-editable ng-if="heading.editable" ow-node-id="{{ heading.pk }}">
      </div>
    </div><!-- /ow-list-row -->
  </div><!-- /#scheduled-list -->

  <!-- List filtering control -->
  <h4 ng-if="context_name">{{ context_name }}</h4>
  <form action="" method="POST" id="list-filters"
	class="form-inline ow-unauth-hide">
    <!-- Context selection box -->
    <label for="context">Context:</label>
    <select name="context" ng-model="active_context" class="form-control"
	    ng-options="x.id as x.name for x in contexts"
	    ng-change="change_context($event)">
	    <option value="">None</option>
    </select>
    <!-- TodoState selection checkboxes -->
    <label class="checkbox-inline" ng-repeat="state in todo_states" style="{{ state | style }}">
      <input type="checkbox" ow-state="{{ state.pk }}"
	     ng-click="toggle_todo_state($event)"
	     ng-checked="active_states.indexOf(state.pk) > -1"></input>
	     {{ state.fields.abbreviation }}
    </label>
  </form>

  <!-- Indicator for current active project -->
  <span ng-if="parent">
    Project:
    <a id="active_project" href="/gtd/project/#{{parent.id}}-{{parent.slug}}">
      {{ parent.title }}</a>
    [<a ng-click="filter_parent(null)">&times;</a>]
  </span>

  <!-- Scope Tabs -->
  <div ow-scope-tabs>
  </div>

  <!-- Actionable Items Header -->
  <div class="table-heading">
    <div class="description">Description</div>
    <div class="buttons"></div>
    <div class="deadline">Deadline</div>
    <div class="project">Project</div>
  </div>
  <!-- Actionable Items Body -->
  <div ow-list-row
       ng-repeat="heading in headings | order: 'list'"
       ng-show="heading.is_visible()" ow-pk="{{ heading.pk }}"
       ow-priority="{{ heading.fields.priority }}"
       archived="{{ heading.fields.archived }}">
    <div class="heading-row" ng-hide="heading.editable">
      <div class="description">
	<span ow-todo>
    	  {{ heading.todo_state.fields.abbreviation }}
	</span>
    	<a href="/gtd/project/#{{ heading.pk }}-{{ heading.fields.slug }}">
	  {{ heading.fields.title}}</a>
    	<span ng-if="heading.fields.repeats"
    	      class="glyphicon glyphicon-repeat"></span>
      </div>
      <div class="buttons">
    	<span ng-include="'action-buttons'"></span>
      </div>
      <div class="deadline">
	{{ heading | deadline_str }}
      </div>
      <div class="project">
	<span class="collapse-label">Project:</span>
    	<a ng-click="filter_parent(heading)">
    	  {{ heading.fields.root_name }}
	</a>
      </div>
    </div><!-- /.heading-row -->
    <div ow-editable ng-if="heading.editable" ow-node-id="{{ heading.pk }}">
    </div>
  </div><!-- /ow-list-row -->
</div><!-- /#gtd-list -->
