<div class="container">
  <div class="row">
    <div class="col-md-3 calendar-list">
      <h2>Calendars</h2>
      <ul>
	<li ng-repeat="calendar in allCalendars" style="background-color: {{ calendar.color }}; color: {{ calendar.textColor }}">
	  <input type="checkbox"
		 ng-checked="activeCalendars.indexOf(calendar) > -1"
		 ng-click="toggleCalendar(calendar)" />
	  {{ calendar.name }}
	</li>
      </ul>
    </div>
    <div class="col-md-9">
      <div ui-calendar="uiConfig.calendar" class="calendar" ng-model="activeCalendars"></div>
    </div>
  </div>
</div>
