<script type="text/ng-template" id="edit-modal">
  <div class="modal-body"
       ow-editable ow-heading="editableEvent">
  </div>
</script>

<div class="container">
  <div class="row">
    <div class="col-md-3 calendar-list">
      <h2>Calendars</h2>
      <ul>
	<li ng-repeat="calendar in allCalendars | orderBy:'order'"
	    ng-click="toggleCalendar(calendar)"
	    style="background-color: {{ calendar.color }}; color: {{ calendar.textColor }}">
	  <input type="checkbox"
		 ng-checked="activeCalendars.indexOf(calendar) > -1" />
	  {{ calendar.name }}
	</li>
      </ul>
    </div>
    <div class="col-md-9">
      <div ui-calendar="calendarOptions" class="calendar"
	   ng-model="activeCalendars"></div>
    </div>
  </div>
</div>
