<script type="text/ng-template" id="edit-modal">
  <div class="modal-body"
       ow-editable ow-heading="editableEvent">
  </div>
</script>

<div class="container">
  <div class="row">
    <div class="calendar-list">
      <!-- Search box -->
      <div ng-include="'/static/search-box.html'">
      </div>
      <h2>Calendars</h2>
      <ul>
	<li ng-repeat="calendar in allCalendars | orderBy:'order'"
	    ng-click="toggleCalendar(calendar)"
	    style="background-color: {{ calendar.color }}; color: {{ calendar.textColor }}">
	  <input type="checkbox"
		 ng-checked="activeCalendars.indexOf(calendar.calId) > -1" />
	  {{ calendar.name }}
	</li>
      </ul>
    </div>
    <div class="col-md-9">
      <div ow-scope-tabs></div>
      <div ui-calendar="calendarOptions" class="calendar"
	   ng-model="allCalendars" ng-init="activeCalendars=[1]" calendar="owCalendar"></div>
    </div>
  </div>
</div>
