<div ng-show="heading.scheduled_date" ng-show="heading.scheduled_date">
  SCHEDULED: {{ heading.scheduled_date }} {{ heading.scheduled_time }}
</div>
<div ng-show="heading.deadline_date && !isEditable">
  DEADLINE: {{ heading.deadline_date }}
  <span ng-show="heading.deadline_time">
    {{ heading.deadline_time }}
  </span>
</div>
<div ng-show="heading.repeats">
  REPEATS: Every {{ heading.repeating_number }}{{ heading.repeating_unit }}
  <span ng-show="heading.repeats_from_completed">
    from completion date
  </span>
  <span ng-hide="heading.repeats_from_completed">
    from scheduled date
  </span>
</div>

<div>
  PRIORITY:
  <span ng-if="heading.priority()">{{ heading.priority() }}</span>
  <span ng-if="!heading.priority()">Normal</span>
</div>

<div ng-show="heading.focus_areas.length > 0">
  FOCUS AREAS: {{ heading | listFocusAreas }}
</div>

<div class="ow-text" ng-bind-html="heading.text | asHtml">
</div>
