<div class="editable info" node-id="{{heading.pk}}">
  <form novalidate class="heading-form" name="form">
    <div class="header">
      <i class="twisty glyphicon glyphicon-chevron-down" expandable="disabled"></i>
      <span ng-if="heading.title">{{ heading.title }}</span>
      <span ng-if="!heading.title">New Heading</span>
      <button class="btn btn-primary btn-sm" ng-click="save($event)"
      	      ng-disabled="form.$invalid">
	Save
      </button>
      <button class="btn btn-default btn-sm" ng-click="cancel_edit($event)">
	Don't Save
      </button>
    </div>
    <div class="body">
      <div class="row">
	<div class="title">
	  <label for="title">Title:</label>
	  <input type="text" ng-model="fields.title"
		 id="title" required></input>
	</div>
	<div class="todo-state">
	  <label for="todo_state">Todo State:</label>
	  <select id="todo_state" ng-model="fields.todo_state"
		  ng-options="state.id as (state.abbreviation + ' - ' + state.display_text) for state in todoStates">
	    <option value="">----------</option>
	  </select>
	</div>
	<div class="tag-string">
	  <label for="tag_string">Tag String:</label>
	  <input type="text" id="tag_string" placeholder="eg. :home:"
		 ng-model="fields.tag_string"></input>
	</div>
	<div class="priority">
	  <label for="priority">Priority:</label>
	  <select id="priority" ng-model="fields.priority"
		  ng-options="x.sym as x.display for x in priorities">
	  </select>
	</div>
	<div class="col-md-1">
	</div>
      </div>
      <div class="row">
	<div class="col-md-3">
	  <label for="scheduled_date">Scheduled:</label>
	  <div class="row">
	    <div class="col-lg-9">
	      <input type="date" placeholder="YYYY-MM-DD"
		     ng-model="fields.scheduled_date"></input>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-lg-9">
	      <input type="time" id="scheduled_time"
		     ng-model="fields.scheduled_time"
		     ng-disabled="!fields.scheduled_date"></input>
	    </div>
	  </div>
	</div>
	<div class="col-md-3">
	  <label for="deadline_date">Deadline:</label>
	  <div class="row">
	    <div class="col-lg-9">
	      <input type="date" id="deadline_date"
		     ng-model="fields.deadline_date"></input>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-lg-9">
	      <input type="time" id="deadline_time"
		     ng-model="fields.deadline_time"
		     ng-disabled="!fields.deadline_date"></input>
	    </div>
	  </div>
	</div>
	<div class="scope">
	  <label>Scope:</label>
	  <select id="scope" multiple class="form-control"
		  ng-model="fields.scope"
		  ng-options="a.id as a.display for a in scopes">
	  </select>
	</div>
	<div class="repeats-group">
	  <div class="row">
	    <div class="repeats">
	      <label for="repeats">
		<span class="repeat-icon"></span>
		Repeats...
	      </label>
	      <div class="ow-switch" ow-switch ng-model="fields.repeats">
		<input type="checkbox"
		       id="repeats"
		        />
	      </div>
	    </div>
	    <div class="repeats">
	      <label for="repeating_number">...every...
	      </label>
	      <input type="text" id="repeating_number" placeholder="number..."
		     ng-model="fields.repeating_number"
		     ow-disabled="{{ fields.repeats }}"
		     ng-disabled="!fields.repeats">
		   </input>
		   <select id="repeating_unit"
			   ng-model="fields.repeating_unit"
			   ng-disabled="!fields.repeats"
			   ng-options="unit.value as unit.label for unit in time_units">
		   </select>
	    </div>
	    <div class="repeats">
	      <label for="repeat_from_completion">
		...from...
	      </label>
	      <select id="repeat_from_completion"
		      ng-model="fields.repeats_from_completion"
		      ng-disabled="!fields.repeats"
		      ng-options="x.value as x.label for x in repeat_schemes">
	      </select>
	    </div>
	  </div><!-- /.row -->
	</div>
      </div>
      <div class="row">
	<div class="edit-text-container">
	  <label>Addition information:</label>
	  <div id="{{ editorId }}" class="edit-text" ng-bind-html="fields.text | asHtml"></div>
	</div>
      </div>
    </div>
  </form>
</div>
