<div class="editable info" node-id="{{heading.pk}}">
  <form novalidate name="form">
    <div class="editable__header">
      <i class="editable__twisty" expandable="disabled"></i>
      <span ng-show="heading.title">{{ heading.title }}</span>
      <span ng-hide="heading.title">New Heading</span>
      <button class="editable__button editable__button--save" ng-click="save($event)"
      	      ng-disabled="form.$invalid">
	Save
      </button>
      <button class="editable__button editable__button--cancel" ng-click="cancelEdit($event)">
	Don't Save
      </button>
    </div>
    <div class="editable__body">
      <div class="editable__row">
	<div class="editable__col editable__col--title">
	  <label for="title">Title:</label>
	  <input type="text" ng-model="fields.title"
		 id="title" required></input>
	</div>
	<div class="editable__col editable__col--todo-state">
	  <label for="todo_state">Todo State:</label>
	  <select id="todo_state" ng-model="fields.todo_state"
		  ng-options="state.id as (state.abbreviation + ' - ' + state.display_text) for state in todoStates">
	    <option value="">----------</option>
	  </select>
	</div>
	<div class="editable__col editable__col--tag-string">
	  <label for="tag_string">Tag String:</label>
	  <input type="text" id="tag_string" placeholder="eg. :home:"
		 ng-model="fields.tag_string"></input>
	</div>
	<div class="editable__col editable__col--priority">
	  <label for="priority">Priority:</label>
	  <select id="priority" ng-model="fields.priority"
		  ng-options="x.sym as x.display for x in priorities">
	  </select>
	</div>
      </div>
      <div class="editable__row">
	<div class="editable__col editable__col--scheduled">
	  <label for="scheduled_date">Scheduled:</label>
	  <div class="row">
	    <div class="col-lg-9">
	      <input type="date" placeholder="YYYY-MM-DD"
		     ng-model="fields.scheduled_date"></input>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-lg-9">
	      <input type="time" id="scheduled_time"
		     ng-model="fields.scheduled_time"
		     ng-disabled="!fields.scheduled_date"></input>
	    </div>
	  </div>
	  <label for="scheduled_date">
	    Until<span ng-show="fields.end_date">
	      ({{ fields | duration }})</span>:
	  </label>
	  <div class="row">
	    <div class="col-lg-9">
	      <input type="date" placeholder="YYYY-MM-DD"
		     ng-model="fields.end_date"
		     ng-disabled="!fields.scheduled_date"></input>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-lg-9">
	      <input type="time" id="scheduled_time"
		     ng-model="fields.end_time"
		     ng-disabled="!(fields.end_date && fields.scheduled_time)"></input>
	    </div>
	  </div>
	</div>
	<div class="editable__col editable__col--deadline">
	  <label for="deadline_date">Deadline:</label>
	  <div class="row">
	    <div class="col-lg-9">
	      <input type="date" id="deadline_date"
		     ng-model="fields.deadline_date"></input>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-lg-9">
	      <input type="time" id="deadline_time"
		     ng-model="fields.deadline_time"
		     ng-disabled="!fields.deadline_date"></input>
	    </div>
	  </div>
	</div>
	<div class="editable__col editable__col--focus-area">
	  <label>Focus Areas:</label>
	  <select id="focus-area" multiple class="editable__col--focus-area-select"
		  ng-model="fields.focus_areas"
		  
		  ng-options="a.id as a.display for a in focusAreas">
	  </select>
	</div>
	<div class="editable__col editable__col--repeat-group">
	  <div class="editable__row">
	    <div class="editable__col editable__col--repeats">
	      <label for="repeats">
		<span class="repeat-icon"></span>
		Repeats...
	      </label>
	      <div class="ow-switch" >
		<input type="checkbox" bs-switch id="repeats" ng-model="fields.repeats" />
	      </div>
	    </div>
	    <div class="editable__col editable__col--repeating-number">
	      <label for="repeating_number">...every...
	      </label>
	      <input class="editable__repeat-input-group"
		     placeholder="number..."  type="text"
		     id="repeating_number"
		     ng-model="fields.repeating_number"
		     ow-disabled="{{ fields.repeats }}"
		     ng-disabled="!fields.repeats" >
		   </input>
		   <select id="repeating_unit"
			   ng-model="fields.repeating_unit"
			   ng-disabled="!fields.repeats"
			   ng-options="unit.value as unit.label for unit in time_units">
			   </select>
	    </div>
	    <div class="editable__col editable__col--repeat-from-completion">
	      <label for="repeat_from_completion">
		...from...
	      </label>
	      <select id="repeat_from_completion"
		      ng-model="fields.repeats_from_completion"
		      ng-disabled="!fields.repeats"
		      ng-options="x.value as x.label for x in repeat_schemes">
	      </select>
	    </div>
	  </div><!-- /.row -->
	</div>
      </div><!-- / outer row -->
      <!-- Text editor -->
      <textarea class="edit-text" ng-model="fields.text"></textarea>
    </div>
  </form>
</div>
