.required label:before
{
    content: "*"
}
.required label
{
    font-weight: bold;
}
form table input[type="checkbox"],label
{
    margin-top: 2px;
    margin-bottom: 2px;
}
#logo
{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding-left: 0px;
}
.datepicker
{
    padding: 0px;
}
span.add-on.disabled
{
    pointer-events: none;
}