<!-- Recursive template for tree of Tasks -->
<div class="ow-hoverable"
     ow-droppable
     ng-show="!isEditing"
     ng-click="toggleHeading($event)"
     style="{{ heading | headingStyle }}"
     archived="{{ heading.archived }}">
  <span class="twisty"></span>
  <span ow-todo ow-heading="heading"></span>
  <div class="ow-title">
    {{heading.title}}
    <span ng-show="heading.has_text && state < 2">&hellip;</span>
  </div>
  <span ng-if="heading.repeats"
	class="repeat-icon non-opening"></span>

  <span ng-repeat="tag in tags" class="tag non-opening">{{ tag }}</span>

  <div class="action-buttons btn-group btn-group-xs non-opening">

    <button type="button" class="btn btn-default"
	    ng-disabled="{{ heading.read_only }}"
	    ng-click="edit($event)">
      <span class="edit-icon" title="Edit"></span>
    </button>
    <a href="/gtd/actions/?parent={{heading.id}}"
       class="btn btn-default">
      <span class="list-icon" title="View As List"></span>
    </a>

    <button type="button" class="btn btn-default"
	    ng-click="archive($event)"
	    ng-disabled="{{ heading.read_only }}">
      <span class="archive-icon" title="Archive/Unarchive"></span>
    </button>

    <button type="button" class="btn btn-default"
	    ng-click="createChild($event)">
      <span class="new-icon" title="New subheading"></span>
    </button>
  </div>
  <span class="read-only-label non-opening"
	ng-if="heading.read_only"></span>
</div><!-- /.ow-hoverable -->

<div ow-editable ng-if="isEditing" ow-heading="heading"></div>

<div ow-details class="details" ow-heading="heading" ng-if="state == 2"></div>

<div class="children" ng-if="state >= 1">
  <!-- Children -->
  <div ow-editable ow-parent="heading" ng-if="newChild"></div>
  <div ng-show="!loadedChildren && !isLeafNode">
    Loading...
  </div>
  <div ow-twisty ng-repeat="heading in children" ow-heading="heading"
       ow-draggable
       ng-if="!heading.archived || showArchived"></div>
  <div class="archived-indicator"
       ng-show="numArchived && !showArchived && !showGlobalArchived"
       ng-click="showArchived = !showArchived">
    ...plus {{ numArchived }} archived (click to show)
  </div>
</div><!-- /.details -->
