<!-- Recursive template for tree of Tasks -->
<div class="gtd-outline__heading gtd-outline__heading--level-{{ heading.level }}"
     ng-class="{'gtd-outline__heading--archived': heading.archived, 'gtd-outline__heading--leaf-node': (heading.rght-heading.lft)==1}"
     ow-droppable-heading
     ng-show="!isEditing"
     ng-click="toggleHeading($event)"
     style="{{ heading | headingStyle }}"
     archived="{{ heading.archived }}">
  <span class="gtd-outline__twisty"></span>
  <span class="gtd-outline__review-checkbox non-opening" ng-if="openReview.isOpen">
    <input type="checkbox" ng-model="isInOpenReview" ng-change="updateReview(isInOpenReview)">
  </span>
  <span ow-todo ow-heading="heading"></span>
  <div class="gtd-outline__title">{{heading.title}}<span ng-show="heading.has_text && state < 2">&hellip;</span>
  </div>
  <i ng-if="heading.repeats" class="gtd-outline__icon gtd-outline__icon--repeats non-opening"></i>

  <span ng-repeat="tag in tags" class="gtd-outline__tag non-opening">{{ tag }}</span>

  <div class="gtd-outline__button-group action-buttons btn-group btn-group-xs non-opening">

    <button type="button" class="gtd-outline__button"
	    ng-disabled="{{ heading.read_only }}"
	    ng-click="edit($event)" title="Edit">
      <i class="gtd-outline__button-icon gtd-outline__button-icon--edit"></i>
    </button>
    <a href="/gtd/actions/?parent={{heading.id}}"
       class="gtd-outline__button" title="View As List">
      <i class="gtd-outline__button-icon gtd-outline__button-icon--action"></i>
    </a>

    <button type="button" class="gtd-outline__button"
	    ng-click="archive($event)"
	    ng-disabled="{{ heading.read_only }}"
	    title="Archive/Unarchive" >
      <i class="gtd-outline__button-icon gtd-outline__button-icon--archive"></i>
    </button>

    <button type="button" class="gtd-outline__button"
	    ng-click="createChild($event)"
	    title="New subheading">
      <i class="gtd-outline__button-icon gtd-outline__button-icon--new" ></i>
    </button>
  </div>
  <span class="gtd-outline__tag gtd-outline__tag--read-only non-opening"
	ng-if="heading.read_only">Read only</span>
</div><!-- /.gtd-outline__heading -->

<div ow-editable ng-if="isEditing" ow-heading="heading"></div>

<div ow-details class="gtd-outline__details" ow-heading="heading" ng-if="state == 2"></div>

<div class="gtd-outline__children" ng-if="state >= 1">
  <!-- Children -->
  <div ow-editable ow-parent="heading" ng-if="newChild"></div>
  <div ng-show="!loadedChildren && !isLeafNode">
    Loading...
  </div>
  <div ow-twisty ng-repeat="heading in children" ow-heading="heading"
       ow-draggable-heading
       class="gtd-outline__node"
       ng-if="!heading.archived || showArchived"></div>
  <div class="gtd-outline__archived-indicator"
       ng-show="numArchived && !showArchived && !showGlobalArchived"
       ng-click="showArchived = !showArchived">
    ...plus {{ numArchived }} archived (click to show)
  </div>
</div><!-- /.gtd-outline__children -->
