<!-- Main container for the outline -->
<div id="outline-appliance">
  <div class="container">
    <div class="row">

      <!-- Search box -->
      <div class="col-sm-5 col-md-4 pull-right">
      </div>

      <form id="sort-field"
	    class="form-inline">
	<div class="col-md-4">
	  <div id="add-heading" class="btn btn-default"
	       ng-click="addProject($event)">
	    <span class="glyphicon glyphicon-plus"></span>
	    New Project
	  </div>
	  <div id="show-all" class="btn btn-default ow-unauth-hide"
	       ng-click="showAll($event)">
	    <span></span>
	    Show Archived
	  </div>
	</div>
	<div class="col-md-4 col-sm-3">
	  <label for="sort-field" class="ow-unauth-hide">Sort:</label>
	  <select name="sort-field" ng-model="sortField"
		  class="form-control  ow-unauth-hide"
		  ng-options="x.key as x.display for x in sortFields">
	  </select>
	</div>
      </form>
    </div>

  </div><!-- /.container -->

  <div ow-scope-tabs active-scope="activeScope">
  </div>

  <div class="outline">
    <div ow-editable ng-if="newProject"></div>
    <div ow-twisty ow-heading="heading"
	 ng-repeat="heading in children | currentScope:activeScope |order:sortField"
	 ng-if="!heading.archived || showArchived"></div>
  </div>

</div><!-- /#outline-appliance -->

<!-- <\!-- Inline dialog to allow heading edits -\-> -->
<!-- <script type="text/ng-template" id="editable"> -->

<!-- </script> -->
