<!-- Main container for the outline -->
<div id="outline-appliance" class="projects-page">
  <div class="projects-controls">
    <!-- Search box -->
    <div class="projects-controls__item">
      <button id="add-heading" class="projects-controls__button"
	      ng-click="addProject($event)">
	<i class="projects-controls__icon projects-controls__icon--new"></i> New Project
      </button>
    </div>
    <div class="projects-controls__item">
      <button id="show-all-btn" class="projects-controls__button projects-controls__button--show-all ow-unauth-hide" ng-click="showAll($event)">
	<i class="projects-controls__icon projects-controls__icon--show-all"></i> Show Archived
      </button>
    </div>
    <div class="projects-controls__item">
      <form class="projects-controls__form">
	<label for="sort-field" class="ow-unauth-hide">Sort:</label>
	<select name="sort-field" ng-model="sortField"
		class="projects-controls__select"
		ng-options="x.key as x.display for x in sortFields">
	</select>
      </form>
    </div>
    <div class="projects-controls__item"
	ng-include="'/static/search-box.html'">
    </div>

  </div>

  <div ow-focus-area-tabs active-focus-area="activeFocusArea">
  </div>

  <div class="gtd-outline">
    <div ow-droppable class="droppable-target">
      Convert to top-level project&hellip;</div>
    <div ow-editable ng-if="newProject"></div>
    <div ow-twisty ow-heading="heading"
	 ow-draggable
	 class="gtd-outline__node"
	 ng-repeat="heading in children | currentFocusArea:activeFocusArea | order:sortField:activeHeading.obj"
	 ng-if="!heading.archived || showArchived"></div>
  </div>

</div><!-- /.projects-page -->

<!-- </script> -->
