<!-- Main container for the outline -->
<div id="outline-appliance">
  <div class="container">
    <div class="row">

      <!-- Search box -->
      <div class="col-sm-5 col-md-4 pull-right">
      </div>

      <form id="sort-field"
	    class="form-inline">
	<div class="col-md-4">
	  <div id="add-heading" class="btn btn-default"
	       ng-click="add_heading($event)">
	    <i class="glyphicon glyphicon-plus"></i>
	    New Project
	  </div>
	  <div id="show-all" class="btn btn-default ow-unauth-hide"
	       ng-click="show_all($event)" ng-if="!show_arx">
	    <i class="glyphicon glyphicon-eye-close"></i>
	    Show Archived
	  </div>
	  <div id="show-all" class="btn btn-default active ow-unauth-hide"
	       ng-click="show_all($event)" ng-if="show_arx">
	    <i class="glyphicon glyphicon-eye-close"></i>
	    Show Archived
	  </div>
	</div>
	<div class="col-md-4 col-sm-3">
	  <label for="sort-field" class="ow-unauth-hide">Sort:</label>
	  <select name="sort-field" ng-model="sort_field"
		  class="form-control  ow-unauth-hide"
		  ng-options="x.key as x.display for x in sort_fields">
	  </select>
	</div>
      </form>
    </div>

  </div><!-- /.container -->

  <div ow-scope-tabs>
  </div>

  <div class="outline">
    <div ng-repeat="heading in children | order:sort_field" class="children"
	 ng-show="heading.is_visible()">
      <div ng-include="'outline-tree'"></div>
    </div>
  </div>

</div><!-- /#outline-appliance -->

<!-- Recursive template for tree of Tasks -->
<script type="text/ng-template" id="outline-tree">
  <div class="heading {{heading.state}}" node_id="{{heading.pk}}"
       id="{{heading.pk}}-{{heading.fields.slug}}">
    <div class="ow-hoverable"
	 ng-show="!heading.editable"
	 style="{{ heading | style }}"
	 ow-target="{{ heading | is_target:target_heading }}"
	 archived="{{ heading.fields.archived }}"
	 actionable="{{ heading.todo_state.fields.actionable }}"
	 ow-level="{{ heading.fields.level }}">
      <i class="twisty glyphicon glyphicon-chevron-right"
	 expandable="{{heading.expandable}}"
	 ng-click="toggle_node(heading)"></i>
      <span ow-todo></span>
      <span ng-if="heading.fields.repeats"
	    class="glyphicon glyphicon-repeat"></span>
      <div class="clickable ow-title"
	   ng-click="toggle_node(heading)">
	{{heading.fields.title}}
      </div>

      <div class="ow-buttons btn-group btn-group-xs">

	<button type="button" class="btn btn-default"
		ng-disabled="{{ heading.fields.read_only }}"
		ng-click="edit_heading(heading)">
	  <i class="glyphicon glyphicon-pencil edit-btn" title="Edit"></i>
	</button>

	<a href="/gtd/actions/?parent={{heading.pk}}"
	   class="btn btn-default">
	  <i class="glyphicon glyphicon-th-list list-btn"
	     title="View As List">
	  </i>
	</a>

	<button type="button" class="btn btn-default"
		ng-click="archive_heading(heading)">
	  <i class="glyphicon glyphicon-eye-close archive-btn"
	     title="Archive"
	     ng-hide="heading.fields.archived">
	  </i>
	  <i class="glyphicon glyphicon-eye-open archive-btn"
	     title="Un-archive"
	     ng-show="heading.fields.archived">
	  </i>
	</button>

	<button type="button" class="btn btn-default"
		ng-click="new_heading(heading)">
	  <i class="glyphicon glyphicon-plus new-btn"
	     title="New subheading">
	  </i>
	</button>
      </div>
    </div>
    <!-- <div ng-include="'editable'"></div> -->
    <div ow-editable ng-if="heading.editable"></div>
    <div class="details ow-text"
	 ng-show="heading.state == 'open' && !heading.editable"
	 ng-if="heading.fields.text"
	 ng-bind-html="heading.fields.text | asHtml">
    </div>
    <div ng-show="heading.state.lazy == 'lazy' && heading.parent_obj.state == 'open'">
      Loading...
    </div>
    <div class="children"
	 ng-repeat="heading in heading.children"
	 ng-show="heading.is_visible()"
	 ng-include="'outline-tree'">
    </div>
  </div><!-- /.heading -->
</script>

<!-- <\!-- Inline dialog to allow heading edits -\-> -->
<!-- <script type="text/ng-template" id="editable"> -->

<!-- </script> -->
