<span ng-if="heading.read_only" style="{{ todoState | todoStateStyle }}"
      class="read-only non-opening">
  {{ todoState.abbreviation }}
</span>
<select class="todo-select non-opening"
	ng-if="todoStateId && !heading.read_only" ng-model="$parent.todoStateId"
	style="{{ todoState | todoStateStyle }}" convert-to-number>
  <option value="" class="default">None</option>
  <option ng-repeat="todoState in todoStates" value="{{ todoState.id }}"
	  ng-selected="todoState.id == todoStateId"
	  style="{{ todoState | todoStateStyle }}">{{ todoState.abbreviation }}</option>
</select>
