/* Colors */
@primary: rgb(69, 41, 159);
@primary-faded: rgb(59, 51, 83);
@primary-dark: rgb(13, 1, 53);
@primary-light: rgb(127, 100, 214);
@primary-pale: rgb(155, 136, 214);


/* Navar */
#logo.brand
{
    padding-bottom: 8px;
    padding-top: 8px;
}
#new_inbox_form .input-append
{
    margin-top: 5px;
    margin-bottom: 5px;
}
#new_inbox_item + .btn
{
    height: 30px;
}
.navbar
{
    margin-bottom: 15px;
}
b {
    position: relative;
}
#btn-actions:after {
    content: "";
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 20px;
    position: absolute;
    left: -9px;
    top: -22px;
}
.gradient(@colora, @colorb) {
    /* Gradients for modern browsers, replace as you see fit */
    background-image: -moz-linear-gradient(top, @colora, @colorb);
    background-image: -ms-linear-gradient(top, @colora, @colorb);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@colora), to(@colorb));
    background-image: -webkit-linear-gradient(top, @colora, @colorb);
    background-image: -o-linear-gradient(top, @colora, @colorb);
    background-image: linear-gradient(top, @colora, @colorb);
    background-repeat: repeat-x;

    /* IE8-9 gradient filter */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@colora', endColorstr='@colorb', GradientType=0);
}
/* .navbar-inner { */
/*     background-color: @primary-light; */
/*     .gradient(@primary-light, @primary-pale); */
/*     .nav > li { */
/* 	> a { */
/* 	    color: @primary; */
/* 	} */
/* 	> a:hover { */
/* 	    color: @primary-dark; */
/* 	} */
/*     } */
/* } */
.form-search
{
    position: absolute;
    right: 15px;
}

/* Loading indicators */
.fullscreen() {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#loading
{
    display: none;
    .fullscreen();
    cursor: wait;
    z-index: 999;
    #dark{
	.fullscreen();
	background-color: black;
	.opacify(17);
    }
    #spinner{
	position: fixed;
	left: 50%;
	top: 50%;
    }
}
/* Registration */
a.btn-auth
{
    margin-top: 5px;
}
ul.social-auth
{
    margin-left: 0px;
    list-style-type: none;
}
/* Actions list */
:not(.todo-option) > .todo-none {
    .opacify(30);
    font-style: italic;
}
/* Node form */
.required label:before {
    content: "*"
}
.required label
{
    font-weight: bold;
}
form table input[type="checkbox"],label
{
    margin-top: 2px;
    margin-bottom: 2px;
}
#logo
{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding-left: 0px;
}
.datepicker
{
    padding: 0px;
}
.dropdown-menu
{
    z-index: 1100;
}
span.add-on.disabled
{
    pointer-events: none;
}
span.alt
{
    display: none;
}
.spacer
{
    visibility: hidden;
}
.invalid
{
    background-color: #F2DEDE !important;
}
.error, .errorlist
{
    color: red;
    font-size: 14px;
}
/* Node_view */
.odd-heading
{
    background-color: #B6D6DB;
}
.even-heading
{
    background-color: white; 
   /* Todo: figure out how to do this using background: transparent */
}
.ow-move form
{
    margin: 0px;
}
dd.todo
{
    display: inline-block;
}
.archived-text
{
    font-style: italic;
    .opacify(80);
}
/* For moving node */
.tree
{
    margin: 0px;
    padding: 0px;
}
/* Javascript outline appliance */
@anim-speed: 300ms;
.opacify (@opacity) { /* 0 to 100 */
    opacity: (@opacity/100);
    filter:alpha(opacity=@opacity);
}
.pointer, .ow-buttons, .add-heading, .todo-state, .todo-option
{
    cursor: pointer;
}
#show-all-label
{
    margin-left: 4px;
}
.ow-hoverable > i
{
    .opacify(0);
}
.ow-hoverable
{
    cursor: default;
}
.ow-hoverable > .ow-buttons
{
    visibility: hidden;
}
.ow-hoverable:hover > .ow-buttons
{
    visibility: visible;
}
.expandable > .ow-hoverable,.lazy-expandable > .ow-hoverable
{
    cursor: pointer;
}
.expandable > .ow-hoverable > i
{
    .opacify(100)
}
.lazy-expandable > .ow-hoverable > i
{
    .opacify(75);
}
.arch-expandable > .ow-hoverable > i
{
    .opacify(30);
}
.heading
{
    overflow: hidden;
}
.heading i.twisty, .heading div.details, .heading div.loading, .heading
{
    transition: opacity @anim-speed, transform @anim-speed;
    -webkit-transition: opacity @anim-speed, -webkit-transform @anim-speed;
    -moz-transition: opacity @anim-speed, -moz-transform @anim-speed;
    -o-transition: opacity @anim-speed, -o-transform @anim-speed;
}
.rotate (@angle) {
    -moz-transform: rotate(@angle);
    -webkit-transform: rotate(@angle);
    -o-transform: rotate(@angle);
    transform: rotate(@angle);
}
.hidden {
    height: 0px;
}
.heading {
    > .ow-hoverable > i {
	/* .rotate(0deg); */
    }
    > .details {
	.opacify(0);
    }
}
.heading.open {
    > .ow-hoverable > i {
    	.rotate(90deg);
    }
    > .details {
	.opacify(100);
    }
}
div.ow-hoverable, div.clickable, div.ow-buttons
{
    display: inline-block;
}
.popover
{
    width: auto;
}
.todo-option
{
    margin: 3px;
}
.todo-option[selected]
{
    cursor: auto;
}
.ow-hover
{
    background-color: #DFF0D8;
}
.todo-option[selected]
{
    .opacify(50);
}
.markdown h1, h2
{
    margin-bottom: 2px;
    margin-top: 20px;
    line-height: 120%;
}
#id_text
{
    height: 200px;
}
/* Aloha text editor */
.ow-text p
{
    margin-bottom: 0;
}