.required label:before
{
    content: "*"
}
.required label
{
    font-weight: bold;
}
form table input[type="checkbox"],label
{
    margin-top: 2px;
    margin-bottom: 2px;
}
#logo
{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding-left: 0px;
}
.datepicker
{
    padding: 0px;
}
span.add-on.disabled
{
    pointer-events: none;
}
span.alt
{
    display: none;
}
.spacer
{
    visibility: hidden;
}
/* Node_view */
.odd-heading
{
    background-color: #B6D6DB;
}
.even-heading
{
    background-color: white; 
   /* Todo: figure out how to do this using background: transparent */
}
.ow-move form
{
    margin: 0px;
}
.ow-move .btn
{

}
dd.todo
{
    display: inline-block;
}
/* Javascript outline appliance */
.clickable, .add-heading, .todo-state, .todo-option
{
    cursor: pointer;
}
div.ow-hoverable, div.clickable, div.ow-buttons
{
    display: inline-block;
}
.popover
{
    width: auto;
}
.todo-option
{
    margin: 3px;
}
.todo-option[selected]
{
    cursor: auto;
}
.ow-hover
{
    background-color: #DFF0D8;
}
.todo-option[selected]
{
    opacity: 0.5;
}
.markdown h1, h2
{
    margin-bottom: 2px;
    margin-top: 20px;
    line-height: 120%;
}
