{% extends 'base.html' %}
{% comment %}
Copyright 2012 Mark Wolf

This file is part of OrgWolf.

OrgWolf is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}Daily Agenda{% endblock %}

{% block style %}
<style>
.table
{
    width: auto;
}
</style>
{% endblock %}
{% block script %}
{{ block.super }}
    <script type="text/javascript">
    $('document').ready(function() {
	$('#agenda-container').agenda({
    	    states: {% autoescape off %}{{ all_todo_states_json }}{% endautoescape %}
	});
    });
    </script>
{% endblock %}
{% block content %}
<div id="agenda-container">
<h3 class="date">{{ agenda_dt.date }}</h3>
<form action="" method="post" class="date form-horizontal">
  <input type="text" name="date" value="{{ agenda_dt_str }}" class="input-medium datepicker" placeholder="Change date..."></input>
    {% csrf_token %}
  <input type="submit" value="Update" class="btn" />
</form>
<h4>Day Specific</h4>
<table class="daily table table-condensed">
  {% include 'gtd/agenda_daily.html' %}
</table>
<h4>Time Specific</h4>
<table class="timely table table-condensed">
  {% include 'gtd/agenda_timely.html' %}
</table>
<hr />
<h3>Upcoming Deadlines</h3>
<table class="deadlines table table-condensed">
  {% include 'gtd/agenda_deadlines.html' %}
</table>
</div>
{% endblock %}
