{% load gtd_extras %}
{# Lists all the time-specific nodes for agenda display (possibly as JSON) #}
<tbody>
  {% for node in time_specific_nodes %}
  <tr{% if node.overdue_str %} class="error"{% endif %} node_id="{{ node.pk }}">
    <td>
      <a href="{% url 'projects' pk=node.id %}"
	 title="{{ node.hierarchy }}">{{ node.overdue_str }}</a>
    </td>
    <td>
      <a href="{% url 'projects' pk=node.id %}" title="{{ node.hierarchy }}">{{ node.scheduled|date:"G:i" }}</a>
    </td>
    <td class="todo-state" todo_id="{{ node.todo_state.pk }}">
      <a href="{% url 'projects' pk=node.id %}" title="{{ node.hierarchy }}">{{ node.todo_state.as_html }}</a>
    </td>
    <td>
      <a href="{% url 'projects' pk=node.id %}" title="{{ node.hierarchy }}">{{ node.title }}</a>
    </td>
  </tr>
  {% endfor %}
</tbody>
