{% extends 'mobile.html' %}
{% load gtd_extras %}

{% block content %}
{# Display nodes (if any exist #}
<a href="#filter-dialog" data-role="button" data-rel="dialog">Filters</a>
{% if nodes.exists %}
<ul data-role="listview">
  {% for node in nodes %}
  <li>
    <a href="{% url 'gtd.views.display_node' node_id=node.id %}" title="{{ node.get_hierarchy_as_string }}">
      <h3>{{ node.title }}</h3>
      <p>
	{{ node.todo_state.as_html }}{% if node.deadline %} Due {{ node.deadline|upcoming }}{% endif %}
      </p>
      <p>{% for step in node.get_hierarchy %}&gt; {{ step.display }} {% endfor %}</p>
    </a>
  </li>
  {% endfor %}
</li>
{% else %}
{# No nodes matched so display an error message #}
<h4>No items matched your criteria. Please change filters and resubmit.</h4>
{% endif %}
{% endblock %}

{% block other_pages %}
<div data-role="page" id="filter-dialog">
  <div data-role="header">
    <h3>Filters</h3>
  </div>
  <div data-role="content">
    <form action="{% url 'gtd.views.list_display' %}" method="post" data-ajax="false" id="id_filter_form">
      <ul>
	<li>
	  <label for="scope">Scope:</label>
	</li>
	<li>
	  <select name="scope">
	    <option value="0">None</option>
	    {% for all_scope in all_scope_qs %}
	    <option value="{{ all_scope.pk }}"{% if all_scope.pk = scope.pk %} selected="selected"{% endif %}>
	      {{ all_scope.display }}
	    </option>
	    {% endfor %}
	  </select>
	</li>
	<li>
	  <label for="context">Context:</label>
	</li>
	  <select id="id_context" name="context">
	    <option value="0"
		    {% if current_context = None %}selected="selected"{% endif %}>
	      None
	    </option>
	    {% for context in all_contexts %}
	    <option value="{{ context.id }}"
		    {% if current_context.id = context.id %}selected="selected"{% endif %}>
	      {{ context.name }}
	    </option>
	    {% endfor %}
	  </select>
	</li>
	<li>
	  Todo States:
	</li>
	<li>
	  <fieldset data-role="controlgroup">
	    {% for todo_state in all_todo_states_query %}
	    <label for="id_todo{{ todo_state.pk }}">{{ todo_state.as_html }}</label>
	    <input type="checkbox"
		   id="id_todo{{ todo_state.pk }}"
		   name="todo{{ todo_state.pk }}"
		   value="Yes"
		   {% if todo_state in todo_states_query %} checked="checked" {% endif %}/>
	    {% endfor %}
	  </fieldset>
	</li>
	<li><input type="submit" data-role="button" value="Apply"></input></li>
      </ul>
      {% csrf_token %}
    </form>
  </div>
{% endblock %}
</div>
