{% extends 'mobile.html' %}
{% load gtd_extras %}
{% block title %}
  {% if parent_node %}{{ parent_node.title }}
  {% else %}Projects{% endif %}
  | OrgWolf
{% endblock %}

{% block content %}
  <div data-role="content">
    {% for node in breadcrumb_list %}
    {% if forloop.first %}
    &nbsp;
    {% else %}
    &gt;
    {% endif %}
    {% if forloop.last %}
    {{ node.as_html }}
    {% else %}
    <a href="{{ base_url }}{{ node.pk }}/">{{ node.as_html }}</a>
    {% endif %}
    {% endfor %}
    <ul data-role="listview" data-inset="true">
      {% if parent_node %}
      <li data-icon="arrow-u"><a href="{{ base_url }}">Projects List</a></li>
      {% if parent_node.parent %}
      <li data-icon="arrow-l">
	<a href="{{ base_url }}{{ parent_node.parent.pk }}">
	  Up to "{{ parent_node.parent }}"
	  </a>
      </li>
      {% endif %}
      {% endif %}
    </ul>
    <h2>{{ parent_node.title }}</h2>
    {% if parent_node %}
    <a href="{% url 'node_object' pk=parent_node.pk %}edit/"
       data-role="button" data-rel="dialog">
       Edit
    </a>
    {% endif %}
    <dl>
      {% include "gtd/node_detail.html" %}
      {% if parent_node.text %}
      <dt>Text</dt>
      <dd>{{ parent_node.text|escape_html }}</dd>
      {% endif %}

      <dt>Children</dt>
      <dd>
	<ul name="children" data-role="listview" data-inset="true">
	  {% for node in child_nodes_qs %}
	  <li><a href="{{ base_url }}{{ node.id }}" data-prefetch>
	      {% if node.todo_state %}{{ node.todo_state.as_html }} {% endif %}
	      {{ node.title }}
	  </a></li>
	  {% endfor %}
	</ul>
      </dd>
    </dl>
      
    </div>
  </div>
</div>
{% endblock %}
