{% extends 'base.html' %}
{% load gtd_extras %}
{% comment %}
Copyright 2012 Mark Wolf

This file is part of OrgWolf.

OrgWolf is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% block title %}
{% if parent_node.title %}{{ parent_node.title }}
{% else %}Projects
{% endif %}
{% endblock %}
{% block style %}
<!-- Node view style block -->
{{ block.super }}
<style type="text/css">
.todo
{
    cursor: pointer;
}
dl
{
    margin-bottom: 0px;
}
</style>
{% endblock %}
{% block script %}
<!-- Node view script block -->
{{ block.super }}
<script>
$('document').ready(function() {
    // Hide non-JS elements
    $('#add-node').remove();
    $('#todo-buttons').remove();
});

</script>
{% endblock %}

{% block content %}

<!-- AngularJS app for child nodes outline -->
{% verbatim %}

<!-- Inline dialog to allow heading edits -->
<script type="text/ng-template" id="editable">
  <div class="editable info" ng-if="heading.editable" ow-editable node-id="{{heading.pk}}">
    <form novalidate class="heading-form" name="form">
    <div class="header">
      <i class="twisty glyphicon glyphicon-chevron-down" expandable="disabled"></i>
      <span ng-if="heading.fields.title">{{heading.fields.title}}</span>
      <span ng-if="!heading.fields.title">New Heading</span>
      <button class="btn btn-primary btn-xs" ng-click="save($event)"
      	      ng-disabled="form.$invalid">
	Save
      </button>
      <button class="btn btn-default btn-xs" ng-click="cancel_edit($event)">
	Don't Save
      </button>
    </div>
    <div class="body">
	<div class="row">
	  <div class="col-md-3">
	    <label for="title">Title:</label>
	    <input type="text" ng-model="fields.title"
		   id="title" class="form-control" required></input>
		   </div>
	  <div class="col-md-3">
	    <label for="todo_state">Todo State:</label>
	    <select id="todo_state" ng-model="fields.todo_state"
		    class="form-control"
		    ng-options="state.pk as (state.fields.abbreviation + ' - ' + state.fields.display_text) for state in todo_states">
		    <option value="">----------</option>
	    </select>
	  </div>
	  <div class="col-md-2">
	    <label for="tag_string">Tag String:</label>
	    <input type="text" id="tag_string" placeholder="eg. :home:"
		   ng-model="fields.tag_string" class="form-control"></input>
	  </div>
	  <div class="col-md-2">
	    <label for="priority">Priority:</label>
	    <select id="priority" ng-model="fields.priority"
		    class="form-control"
		    ng-options="x.sym as x.display for x in priorities">
	    </select>
	  </div>
	  <div class="col-md-1">
	    <label for="archived">Archived:
	    </label>
	    <div class="make-switch" data-on-label="Yes" data-off-label="No">
	      <input type="checkbox" id="archived"
		     ng-model="fields.archived">
		     </input>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-3">
	    <label for="scheduled_date">Scheduled:</label>
	    <div class="row">
	      <div class="col-md-6">
		<input type="text" id="scheduled_date" placeholder="YYYY-MM-DD"
		       class="form-control datepicker" value="{{ fields.scheduled_date }}"
		       ng-model="fields.scheduled_date"></input>
	      </div>
	      <div class="col-md-6">
		<input type="text" id="scheduled_time" placeholder="HH:MM"
		       class="form-control timepicker"
		       ng-model="fields.scheduled_time"></input>
	      </div>
	    </div>
	  </div>
	  <div class="col-md-3">
	    <label for="deadline_date">Deadline:</label>
	    <div class="row">
	      <div class="col-md-6">
		<input type="text" id="deadline_date" placeholder="YYYY-MM-DD"
		       class="form-control datepicker"
		       ng-model="fields.deadline_date"></input>
	      </div>
	      <div class="col-md-6">
		<input type="text" id="deadline_time" placeholder="HH:MM"
		       class="form-control timepicker"
		       ng-model="fields.deadline_time"></input>
	      </div>
	    </div>
	  </div>
	  <div class="col-md-2">
	    <label>Scope:</label>
	    <select id="scope" multiple class="form-control"
		    ng-model="fields.scope"
		    ng-options="a.id as a.display for a in scopes">
		    </select>
	  </div>
	  <div class="col-md-1">
	    <label for="repeats">
	      Repeats...
	    </label>
	    <div class="make-switch">
	      <input type="checkbox" ng-model="fields.repeats" id="repeats" />
	    </div>
	  </div>
	  <div class="col-md-1">
	    <label for="repeating_number">...every...
	    </label>
	    <input type="text" id="repeating_number" placeholder="number..."
		     ng-model="fields.repeating_number"
		     class="input-small form-control">
		   </input>
	    <select id="repeating_unit" class="form-control"
		    ng-model="fields.repeating_unit"
		    ng-options="unit.value as unit.label for unit in time_units">
		    </select>
	  </div>
	  <div class="col-md-2">
	    <label for="repeat_from_completion">
	      ...from...
	    </label>
	    <select id="repeat_from_completion" class="form-control"
		    ng-model="fields.repeats_from_completion"
		    ng-options="x.value as x.label for x in repeat_schemes">
	    </select>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-12">
	    <label>Addition information:</label>
	    <div class="edit-text" ng-bind-html="fields.text | asHtml"></div>
	  </div>
	</div>
    </form>
  </div>
</script>

<script type="text/ng-template" id="todo-state-selector">
  <span class="todo-state" style="{{heading.todo_state | style }}"
	rel="popover">
	{{ heading.todo_state.fields.abbreviation }}
	</span>
</script>

<!-- Recursive function for tree of Tasks -->
<script type="text/ng-template" id="outline-tree">
  <div class="heading {{heading.state}}" node_id="{{heading.pk}}"
       id="{{heading.pk}}"
       >
    <div class="ow-hoverable" ng-click="toggle_node($event)"
	 ng-show="!heading.editable" style="{{ heading | style }}"
	 archived="{{ heading.fields.archived }}"
	 actionable="{{ heading.todo_state.fields.actionable }}"
	 ow-level="{{ heading.fields.level }}">
      <i class="twisty glyphicon glyphicon-chevron-right"
	 expandable="{{heading.expandable}}"></i>
      <span ow-todo>
      </span>
      <span ng-if="heading.fields.repeats"
	    class="glyphicon glyphicon-repeat"></span>
      <div class="clickable ow-title">
	{{heading.fields.title}}
      </div>

      <div class="ow-buttons btn-group btn-group-xs">

	<button type="button" class="btn btn-default">
	  <i class="glyphicon glyphicon-pencil edit-btn" title="Edit"></i>
	</button>

	<a href="/gtd/lists/parent{{ heading.pk }}/next/"
	   class="btn btn-default">
	  <i class="glyphicon glyphicon-th-list list-btn"
	     title="View As List">
	     </i>
	</a>

	</button>

	<button type="button" class="btn btn-default">
	  <i class="glyphicon glyphicon-eye-close archive-btn"
	     title="Archive"
	     ng-hide="heading.fields.archived">
	  </i>
	  <i class="glyphicon glyphicon-eye-open archive-btn"
	     title="Un-archive"
	     ng-show="heading.fields.archived">
	  </i>
	</button>

	<button type="button" class="btn btn-default">
	  <i class="glyphicon glyphicon-plus new-btn"
	     title="New subheading">
	  </i>
	</button>
      </div>
    </div>
    <div ng-include="'editable'"></div>
    <div class="details ow-text"
	 ng-show="heading.state == 'open' && !heading.editable"
	 ng-if="heading.fields.text"
	 ng-bind-html="heading.fields.text | asHtml">
    </div>
    <div ng-show="heading.state.lazy == 'lazy' && heading.parent_obj.state == 'open'">
      Loading...
    </div>
    <div class="children"
	 ng-repeat="heading in heading.children"
	 ng-show="heading.is_visible()"
	 ng-include="'outline-tree'">
	 <!-- ng-show="(show_arx || !(heading.fields.archived)) && heading.parent_obj.state == 'open'" -->
    </div>
  </div>
</script>

<!-- Initiate recursion for node tree -->
{% endverbatim %}
<div ng-controller="nodeOutline" id="outline-appliance"
     parent_id="{{ parent_node.pk }}" parent_tree="{{ parent_node.tree_id }}"
     level="{{ parent_node.level }}">
  <form id="sort-field"
	class="form-inline">
     {% verbatim %}
    <div id="add-heading" class="btn btn-default"
	 ng-click="add_heading($event)">
	 <i class="glyphicon glyphicon-plus"></i>
	 New Project
    </div>
    <div id="show-all" class="btn btn-default ow-unauth-hide"
	 ng-click="show_all($event)" ng-if="!show_arx">
	 <i class="glyphicon glyphicon-eye-close"></i>
	 Show Archived
    </div>
    <div id="show-all" class="btn btn-default active ow-unauth-hide"
	 ng-click="show_all($event)" ng-if="show_arx">
	 <i class="glyphicon glyphicon-eye-close"></i>
	 Show Archived
    </div>
    <label for="sort-field" class="ow-unauth-hide">Sort:</label>
    <select name="sort-field" ng-model="sort_field"
	    class="form-control  ow-unauth-hide"
	    ng-options="x.key as x.display for x in sort_fields">
    </select>
  </form>
  <ul ow-scope-tabs>
    <li scope_id="0" ng-click="change_scope($event)"><a href="#">All</a></li>
    <li ng-repeat="scope in scopes" scope_id="{{ scope.id }}"
	ng-click="change_scope($event)">
	<a href="#">{{ scope.display }}</a>
    </li>
  </ul>
  <div class="outline">
    <div ng-repeat="heading in children | order:sort_field" class="children"
	 ng-show="heading.is_visible()">
      <div ng-include="'outline-tree'"></div>
    </div>
  </div>
</div>
{% endverbatim %}

<!-- List of child nodes displayed only as graceful fallback -->
<noscript>

  <div id="node-detail">
    {# Breadcrumb trail #}
    {{ breadcrumb_list|breadcrumbs:base_url }}

    <h3 class="update" data-field="title">{{ parent_node.get_title }}</h3>

    {% if node_id %}
      <form action="edit/" method="POST">
	<div class="btn-toolbar" id="todo-buttons" node_id="{{ parent_node.pk }}">
	  <div class="btn-group">
	  </div>
	  <div class="btn-group">
	    <button type="submit" name="new_todo" value="0" class="btn new_todo{% if not parent_node.todo_state %} active{% endif %}">
	      [None]
	    </button>
	    {% for todo_state in all_todo_states_qs %}
	      <button type="submit" name="new_todo" value="{{ todo_state.id }}" class="btn new_todo{% if todo_state = parent_node.todo_state %} active{% endif %}">
		{{ todo_state.as_html }}
	      </button>
	    {% endfor %}
	  </div>
	</div>
	<input type="hidden" name="function" value="change_todo_state" />
	{% csrf_token %}
      </form>
      <a href="edit/" class="btn btn-default" id="edit-button"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
      <a href="move/" class="btn btn-default" id="move-button"><i class="glyphicon glyphicon-move"></i> Move</a>
      <a href="{% url 'list_display' %}parent{{ parent_node.pk }}/" class="btn btn-default">
	<i class="glyphicon glyphicon-th-list"></i> As List
      </a>
    {% else %}
      <a href="{% url 'list_display' %}" class="btn btn-default">
	<i class="glyphicon glyphicon-th-list"></i> As List
      </a>
    {% endif %}{# if parent_node #}

    {# Parent node item details #}
    <span node_id="{{ node_id }}">
      {% if parent_node %}
	<dl>
	  {% include 'gtd/node_detail.html' %}
	  <dt>Text:</dt>
	  <dd node_id="{{ parent_node.pk }}">
	    <div id="parent-text" class="update" data-field="text">
	      {{ parent_node.text|escape_html }}
	    </div>
	  </dd>
	</dl>
	<a href="new/" class="btn-default" id="add-node">
	  <i class="glyphicon glyphicon-plus"></i>&nbsp;New Node
	</a>
      {% else %}
	<a href="new/" class="btn-default" id="add-node">
	  <i class="glyphicon glyphicon-plus"></i>&nbsp;New Project
	</a>
      {% endif %}{# if parent_node #}
    </span>
  </div><!-- /div id="node-detail"-->
  <div id="outline-workspace" class="outline" data-node_id="{{ node_id }}">
    {% include 'gtd/scope_tabs.html' %}
    <strong>
      {% if parent_node %}
	Children:
      {% else %}
	Projects:
      {% endif %}
    </strong>
    {% if show_all %}
      <a href="{{ node_url }}" class="btn">Hide archived</a>
    {% else %}
      <a href="{{ node_url }}?archived=True" class="btn">
	Show archived
      </a>
    {% endif %}
    <table class="table" id="non-js-table" node_id="{{ node_id }}">
      <tr>
	<th>State</th>
	<th>Description</th>
	<th>Tags</th>
	<th>Actions</th>
      </tr>
      {% for node in child_nodes_qs %}
	<tr class="ow-heading"
	    data-node_id="{{ node.id }}"
	    data-title="{{ node.title|escape }}"
	    data-todo_id="{{ node.todo_state.pk }}"
	    data-text="{{ node.text|escape }}"
	    data-lft="{{ node.lft }}"
	    data-rght="{{ node.rght }}"
	    data-tree-id="{{ node.tree_id }}"
	    data-level="{{ node.level }}"
	    >
	    <td class="ow-todo">{{ node.todo_state.as_html }}</td>
	    <td class="ow-title">
              <a href="{{ base_url }}{{ node.pk }}/{{ node.slug }}/">
		{{ node.get_title }}
	      </a>
	    </td>
	    <td class="ow-tags">{{ node.tag_string }}</td>
	    <td class="ow-move">
	      <form action="{{ base_url }}{{ node.pk }}/edit/" method="POST">
		<div class="btn-group">
		  <button class="btn" type="submit" name="move_up">
		    <i class="glyphicon glyphicon-arrow-up"></i><span class="alt">Up</span>
		  </button>
		  <button class="btn" type="submit" name="move_down">
		    <i class="glyphicon glyphicon-arrow-down"></i><span class="alt">Down</span>
		  </button>
		</div>
		<input type="hidden" name="function" value="reorder"></input>
		{% csrf_token %}
	      </form>
	    </td>
	</tr>
      {% endfor %}
    </table>
  </div><!-- /div id="outline-workspace" -->
</noscript>



{% endblock %}
