{% extends 'base.html' %}
{% load gtd_extras %}
{% comment %}
Copyright 2012 Mark Wolf

This file is part of OrgWolf.

OrgWolf is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% block title %}
Search{% if query %} results for {{ query }}{% endif %}
{% endblock %}

{% block style %}
<style type="text/css">
.form-search, #results-summary, .pagination
{
    position: static;
    margin-left: 8px;
}
</style>
{% endblock %}

{% block content %}

{% if query %}
{% if nodes_found.count > 0 %}
<p id="results-summary">Showing results {{ found_range }} of {{ total_found }}</p>
{{ nodes_found|nodes_as_hierarchy_table:base_url }}

{% if pages %}
<div class="pagination">
  <ul>
    {% for page in pages %}
    <li{% if page.class %} class="{{ page.class }}"{% endif %}><a{% if page.url %} href="{{ page.url }}"{% endif %}>{{ page.display }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% else %}
<p id="results-summary">Sorry, your search did not match any results.</p>
{% endif %}
{% endif %}

{% endblock %}
