{% extends 'base.html' %}
{% load gtd_extras %}
{% comment %}
Copyright 2012 Mark Wolf

This file is part of OrgWolf.

OrgWolf is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% block title %}
{% if current_context %}{{ current_context.name }} List
{% else %}ToDo Lists
{% endif %}
{% endblock %}

{% block script %}
{{ block.super }}
<script>
    $('document').ready(function() {
	$('#gtd-list').nodeList({
	    states: {% autoescape off %}{{ all_todo_states_json }}{% endautoescape %}
	});
    });
</script>
{% endblock %}

{% block content %}

{# Hierarchy, breadcrumb trail #}
  {{ breadcrumb_list|breadcrumbs:base_node_url }}

{% verbatim %}
<script type="text/ng-template" id="todo-state-selector">
  <span class="todo-state" style="{{heading.todo_state | style }}"
	rel="popover">
	{{ heading.todo_state.fields.abbreviation }}
	</span>
</script>
{% endverbatim %}

{# Angular app for gtd list #}
<div id="gtd-list" ng-controller="nextActionsList">
  {% verbatim %}
  <span ng-if="active_root">
    Project:
    <a href="/gtd/project/{{ active_root.pk }}/">{{ active_root.fields.title }}</a>
    [<a ng-click="filter_parent(null)">&times;</a>]
  </span>
  <ul ow-scope-tabs>
    <li scope_id="0" ng-click="change_scope($event)"><a href="#">All</a></li>
    <li ng-repeat="scope in scopes" scope_id="{{ scope.id }}"
	ng-click="change_scope($event)">
	<a href="#">{{ scope.display }}</a>
    </li>
  </ul>
  <form action="" method="POST" class="form-inline" id="list-filters">
    <label for="context">Context:</label>
    <select name="context" ng-model="active_context" class="form-control"
	    ng-options="x.pk as x.fields.name for x in contexts"
	    ng-change="change_context($event)">
	    <option value="">None</option>
    </select>
    <label class="checkbox-inline" ng-repeat="state in todo_states" style="{{ state | style }}">
      <input type="checkbox" ow-state="{{ state.pk }}"
	     ng-click="toggle_todo_state($event)"
	     ng-checked="active_states.indexOf(state.pk) > -1"></input>
	     {{ state.fields.abbreviation }}
    </label>
  </form>

  <table class="table table-condensed" id="gtd-list">
    <tr>
      <th>State</th>
      <th>Description</th>
      <th>Project</th>
      <th>Tags</th>
    </tr>
    <tr ng-repeat="heading in headings | order: 'list'" ng-show="heading.is_visible()" ow-pk="{{ heading.pk }}"
	class="heading-row" archived="{{heading.fields.archived}}">
      <td ow-todo>
	  {{ heading.todo_state.fields.abbreviation }}
      </td>
      <td>
	<a href="/gtd/node/{{ heading.pk }}/{{ heading.fields.slug }}/">
          {{ heading.fields.title}}
	</a>
	{{ heading | deadline_str }}
      </td>
      <td ng-bind-html="heading | root_cell" ng-click="filter_parent(heading)">
      </td>
      <td>
	{{ heading.fields.tag_string }}
      </td>
    </tr>
  </table>
  {% endverbatim %}
</div>

<noscript>
{# Scope tabs #}
{% include "gtd/scope_tabs.html" %}
{# Filters #}
<form action="" method="POST" class="form-inline">
  <input type="hidden" name="scope"
	 value="{% if scope %}{{ scope.pk }}{% else %}0{% endif %}"
	 />
  <label id="lblContext">
    Context:
    <select name="context" class="input-small" class="form-control">
    <option value="0"
	    {% if current_context = None %}
	    selected="selected"{% endif %}>
      None
    </option>
    {% for context in contexts %}
    <option value="{{context.id}}"
	    {% if current_context.id = context.id %}
	    selected="selected"{% endif %}>
      {{context.name}}
    </option>
    {% endfor %}
  </select>
  </label>
  {% for todo_state in all_todo_states_query %}
  <label for="todo{{ todo_state.id }}" class="checkbox">
  <input type="checkbox"
	 id="todo{{ todo_state.id }}"
	 name="todo{{ todo_state.id }}"
	 value="Yes"
	 {% if todo_state in todo_states_query %}
	 checked="checked"{% endif %}
	 >
	 </input>
	 {{ todo_state.as_html }}</label>
  {% endfor %}
  {% if parent %}
  <input type="hidden" name="parent_id"
	 value="{{ parent.pk }}">
  {% endif %}
  <input type="submit" value="Filter" class="btn btn-default" />
  {% csrf_token %}
</form>
{# Display nodes (if any exist #}
{% if nodes %}
<table class="table table-condensed" id="gtd-list">
  <tr>
    <th>State</th>
    <th>Description</th>
    <th>Project</th>
    <th>Tags</th>
  </tr>
  {% for node in nodes %}
  <tr class="list-node" node_id="{{ node.pk }}">
    <!-- Column for node todo state -->
    <td class="todo-col">
      <div class="todo-state"
	   todo_id="{{ node.todo_state_id }}">
	<a href="{{ base_node_url }}{{ node.pk }}"
	   title="{#{{ node.get_hierarchy_as_string }}#}">
	  {{ node.todo_state.as_html }}
	</a>
      </div>
    </td>
    <!-- Column for node description -->
    <td>
      <a href="{{ base_node_url }}{{ node.pk }}"
	 title="{#{ node.get_hierarchy_as_string }#}">
	{{ node.get_title }}
      </a>
      {% if node.deadline_date %}
      Due {{ node.deadline_str }}
      {% endif %}
    </td>
    <!-- Column for root level project -->
    <td>
      <a href="{{ node.root_url }}"
	 title="Project: {{ node.root_title }}">
	{{ node.root_title }}
      </a>
    </td>
    <!-- Column for Node.tag_string -->
    <td>
      <a href="{{ base_node_url }}{{ node.pk }}"
	 title="{#{ node.get_hierarchy_as_string }#}">
	{{ node.tag_string }}
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
{# No nodes matched so display an error message #}
<h4>No items matched your criteria. Please change filters and resubmit.</h4>
{% endif %}
</div>
</noscript>
{% endblock %}
