{% extends 'base.html' %}
{% load gtd_extras %}
{% comment %}
Copyright 2012 Mark Wolf

This file is part of OrgWolf.

OrgWolf is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% block title %}
{% if parent_node.title %}{{ parent_node.title }}
{% else %}Projects
{% endif %}
{% endblock %}
{% block style %}
<!-- Node view style block -->
{{ block.super }}
<style type="text/css">
.todo
{
    cursor: pointer;
}
dl
{
    margin-bottom: 0px;
}
</style>
{% endblock %}
{% block script %}
<!-- Node view script block -->
{{ block.super }}
<script>
$('document').ready(function() {
    // Hide non-JS elements
    $('#add-node').remove();
    $('#todo-buttons').remove();
    // Aloha text editor
    Aloha.ready(function() {
    	$('#parent-text').alohaText();
    });
    {% autoescape off %}
    // Project outline applicance
    $('#outline-workspace').nodeOutline( {
	todo_states: {{ all_todo_states_json }},
	scopes: {{ all_scope_json }}
    });
    {% endautoescape %}
    {% if parent_node %}
    var heading = new GtdHeading({% autoescape off %}{{parent_json}}[0]{% endautoescape %});
    var update_todo = function ( todo_state ) {
	$('#parent-todo').todoState('update', { todo_state: todo_state });
	$('#edit-button').nodeEdit('update', { todo_id: todo_state });
    };
    // todoState chooser for the parent's todo_state
    $('#parent-todo').todoState({
    	node_id: {{ parent_node.pk }},
    	states: {% autoescape off %}{{ all_todo_states_json_full }}{% endautoescape %},
	click: function(d) {
	    update_todo( d.fields.todo_state );
	}
    });
    // Modal node edit form
    $('#edit-button').nodeEdit({
	heading: heading,
	target: '#node-detail',
	changed: function(d) {
	    update_todo( d.fields.todo_state );
	}
    });
    {% endif %}
});

</script>
{% endblock %}

{% block content %}

<div id="node-detail">
  {# Breadcrumb trail #}
  {{ breadcrumb_list|breadcrumbs:base_url }}
  <!-- {% for node in breadcrumb_list %}{% if forloop.first %}&nbsp;{% else %}&gt;{% endif %} -->
  <!-- {% if forloop.last %} -->
  <!-- <span class="update" data-field="title">{{ node.get_title }}</span> -->
  <!-- {% else %} -->
  <!-- <a href="{{ base_url }}{{node.pk}}/{{ node.slug }}/">{{ node.get_title }}</a> -->
  <!-- {% endif %} -->
  <!-- {% endfor %} -->

  <h3 class="update" data-field="title">{{ parent_node.get_title }}</h3>

  {% if node_id %}
  <form action="edit/" method="POST">
    <div class="btn-toolbar" id="todo-buttons" node_id="{{ parent_node.pk }}">
      <div class="btn-group">
      </div>
      <div class="btn-group">
	<button type="submit" name="new_todo" value="0" class="btn new_todo{% if not parent_node.todo_state %} active{% endif %}">
	  [None]
	</button>
	{% for todo_state in all_todo_states_qs %}
	<button type="submit" name="new_todo" value="{{ todo_state.id }}" class="btn new_todo{% if todo_state = parent_node.todo_state %} active{% endif %}">
	  {{ todo_state.as_html }}
	</button>
	{% endfor %}
      </div>
    </div>
    <input type="hidden" name="function" value="change_todo_state" />
    {% csrf_token %}
  </form>
  <a href="edit/" class="btn" id="edit-button"><i class="icon-pencil"></i> Edit</a>
  <a href="move/" class="btn" id="move-button"><i class="icon-move"></i> Move</a>
  <a href="{% url 'gtd.views.list_display' %}parent{{ parent_node.pk }}/" class="btn">
    <i class="icon-th-list"></i> As List
  </a>
  {% else %}
  <a href="{% url 'gtd.views.list_display' %}" class="btn">
    <i class="icon-th-list"></i> As List
  </a>
  {% endif %}{# if parent_node #}

  {# Parent node item details #}
  <span node_id="{{ node_id }}">
    {% if parent_node %}
    <dl>
      {% include 'gtd/node_detail.html' %}
      <dt>Text:</dt>
      <dd node_id="{{ parent_node.pk }}">
	<div id="parent-text" class="update" data-field="text">
	  {{ parent_node.text|escape_html }}
	</div>
      </dd>
    </dl>
    <a href="new/" class="btn" id="add-node">
      <i class="icon-plus"></i>&nbsp;New Node
    </a>
    {% else %}
    <a href="new/" class="btn" id="add-node">
      <i class="icon-plus"></i>&nbsp;New Project
    </a>
    {% endif %}{# if parent_node #}
    </span>
</div><!-- /div id="node-detail"-->
<br />

<div id="outline-workspace" data-node_id="{{ node_id }}">
{% include 'gtd/scope_tabs.html' %}
  <strong>
    {% if parent_node %}
    Children:
    {% else %}
    Projects:
    {% endif %}
  </strong>
  {% if show_all %}
  <a href="{{ node_url }}" class="btn">Hide archived</a>
  {% else %}
  <a href="{{ node_url }}?archived=True" class="btn">
    Show archived
  </a>
  {% endif %}
  <table class="table" id="non-js-table" node_id="{{ node_id }}">
    <tr>
      <th>State</th>
      <th>Description</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
    {% for node in child_nodes_qs %}
    <tr class="ow-heading"
	data-node_id="{{ node.id }}"
	data-title="{{ node.title|escape }}"
	data-todo_id="{{ node.todo_state.pk }}"
	data-text="{{ node.text|escape }}"
	data-lft="{{ node.lft }}"
	data-rght="{{ node.rght }}"
	data-tree-id="{{ node.tree_id }}"
	data-level="{{ node.level }}"
	>
      <td class="ow-todo">{{ node.todo_state.as_html }}</td>
      <td class="ow-title">
        <a href="{{ base_url }}{{ node.pk }}/{{ node.slug }}/">
	  {{ node.get_title }}
	  </a>
      </td>
      <td class="ow-tags">{{ node.tag_string }}</td>
      <td class="ow-move">
	  <form action="{{ base_url }}{{ node.pk }}/edit/" method="POST">
	  <div class="btn-group">
	    <button class="btn" type="submit" name="move_up">
	      <i class="icon-arrow-up"></i><span class="alt">Up</span>
	    </button>
	    <button class="btn" type="submit" name="move_down">
	      <i class="icon-arrow-down"></i><span class="alt">Down</span>
	    </button>
	  </div>
	  <input type="hidden" name="function" value="reorder"></input>
	  {% csrf_token %}
	</form>
      </td>
    </tr>
    {% endfor %}
  </table>
</div><!-- /div id="outline-workspace" -->

{% endblock %}
