{% load gtd_extras %}
{# Prints the details of the given node (eg deadline, status, etc) #}
  {% if parent_node %}
  <dt>Status:</dt>
  {% if parent_node.todo_state %}
  <dd class="todo update" id="parent-todo" todo_id="{{ parent_node.todo_state.pk }}" data-field="todo_html">{{ parent_node.todo_state.as_html }} - {{ parent_node.todo_state.display_text}}</dd>
  {% else %}
  <dd class="todo update" todo_id="0" data-field="todo_state" id="parent-todo">[None]</dd>
  {% endif %}
  {% endif %}
  {% if parent_node.scheduled %}
  <dt>Scheduled: </dt>
  <dd class="update" data-field="scheduled">{{ parent_node.scheduled.date }}
    {% if parent_node.scheduled_time_specific %}
    {{ parent_node.scheduled.time }}
    {% endif %}</dd>
  {% endif %}
  <dt>Notice</dt>
  <dd># TODO: deadline and scheduled seem to be UTC times instead localtime</dd>
  {% if parent_node.repeats %}
  <dt><i class="icon-repeat"></i>Repeats:</dt>
  <dd>Every {{ parent_node.repeating_number}}{{ parent_node.repeating_unit }}
    {% if parent_node.repeats_from_completion %}(from completion)
    {% else %}(from scheduled date)
    {% endif %}
  </dd>
  {% endif %}
  {% if parent_node.deadline %}
  <dt>Deadline: </dt>
  <dd>{{ parent_node.deadline.date }}
    {% if parent_node.deadline_time_specific %}
    {{ parent_node.deadline.time }}
    {% endif %}</dd>
  {% endif %}
  {% if parent_node.priority %}
  <dt>Priority:</dt>
  <dd>{{ parent_node.priority }}</dd>
  {% endif %}
  {% if parent_node.scope.all %}
  <dt>Scopes:</dt>
    {% for scope in parent_node.scope.all %}
    <dd>{{ scope.display }}</dd>
    {% endfor %}
  {% endif %}
  {% if parent_node.related_projects.all %}
  <dt>Related Projects:</dt>
    {% for project in parent_node.related_projects.all %}
    <dd>{{ project.title }}</dd>
    {% endfor %}
  {% endif %}
  {% if parent_tags %}
  <dt>Tags: </dt>
  {% for tag in parent_tags %}
  <dd>{{ tag.display }}</dd>
  {% endfor %}
  {% endif %}
