{% extends 'base.html' %}
{% load static %}
{% comment %}
Copyright 2012 Mark Wolf

This file is part of OrgWolf.

OrgWolf is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block nav %}
<!-- Remove the navbar for login pages -->
{% endblock %}

{% block search %}
<!-- Remove the search box for login pages -->
{% endblock %}

{% block content %}

<div ng-include="'{% static 'orgwolf/header.html' %}'"></div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="logout-notice">
	Successfully logged out.<br />
	<a href="{% url 'home' %}" target="_self">
	  <i class="back-icon"></i> Back home</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
