{% extends 'base.html' %}

{% block title %}
Inbox
{% endblock %}

{% block content %}

<!-- Search box -->
<div class="col-sm-5 col-md-4 pull-right">
  {% include 'gtd/search_box.html' %}
</div>

<div ng-controller="owInbox">
  {% verbatim %}
  <!-- Table shows the list of messages -->
  <div class="container message-list"
       ng-hide="messages.length">
    <div class="alert alert-success">
      <p>
	No messages in inbox. Congratulations on reaching
	<strong>inbox zero</strong>!
      </p>
    </div>
  </div>
  <table class="table message-list" ng-if="messages.length">
    <tr>
      <th class="col-md-2">Actions</th>
      <th>From</th>
      <th>Subject</th>
      <th>Received</th>
    </tr>
    <tr ng-repeat="message in messages" unread="{{ message.unread }}"
	ow-handler="{{ message.fields.handler_path }}"
	ow-message-row>
      <td>
	<div class="btn-group btn-group-xs">
	  <button class="btn btn-primary msg-task"
		  ng-click="open_task_modal(message)">
	    <span class="glyphicon glyphicon-tasks"
		  data-title="New Task"></span>
	  </button>

	  <button class="btn btn-info msg-project"
		  ng-click="create_project_modal(message)">
	    <span class="glyphicon glyphicon-folder-close"
		  data-title="New Project"></span>
	  </button>

	  <button class="btn btn-success msg-complete"
		  ng-click="complete_task(message)">
	    <span class="glyphicon glyphicon-check"
		  data-title="Mark as 'Done'"></span>
	  </button>

	  <button class="btn btn-warning msg-defer"
		  ng-click="defer_modal(message)">
	    <span class="glyphicon glyphicon-time"
		  data-title="Defer"></span>
	  </button>

	  <button class="btn btn-default msg-save"
		  ng-click="archive_msg(message)">
	    <span class="glyphicon glyphicon-save"
		  data-title="Archive"></span>
	  </button>

	  <button class="btn btn-danger msg-delete"
		  ng-click="delete_modal(message)">
	    <span class="glyphicon glyphicon-trash"
		  data-title="Delete"></span>
	  </button>
	</div>

	<!-- <span data-title="Reply" -->
	<!--       class="glyphicon glyphicon-arrow-left"></span> -->
      </td>
      <td ng-bind-html="message | format_sender"></td>
      <!-- <td>{{ message | format_sender }}</td> -->
      <td>{{ message.fields.subject }}</td>
      <td>{{ message.fields.rcvd_date }}</td>
    </tr>
  </table>
  <!-- Modal for adding a new Node/task -->
  <div class="modal fade task">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	  <h4 class="modal-title" ng-if="modal_task">New Task</h4>
	  <h4 class="modal-title" ng-if="!modal_task">New Project</h4>
	</div>
	<div class="modal-body">
	  <div class="form-group">
	    <label for="title">Title</label>
	    <input id="title" class="form-control" ng-model="new_node.title" />
	  </div>
	  <div class="form-group" ng-if="modal_task">
	    <label for="project">Project</label>
	    <select id="project" class="form-control"
		    ng-model="project"
		    ng-change="change_project(project)"
		    ng-options="x.title for x in projects | order: 'title'"
>
	    </select>
	  </div>
	  <div class="form-group" ng-if="modal_task">
	    <label for="parent">Parent</label>
	    <select id="parent" class="form-control"
		    ng-model="parent"
		    ng-options="x | parent_label for x in parents"
		    ng-change="change_parent(parent)">
	    </select>
	  </div>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-default" data-dismiss="modal">Discard Changes</button>
	  <button type="button" class="btn btn-primary" ng-click="create_node()">Create</button>
	</div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal for new node/task -->

  <!-- Modal for deleting a Node -->
  <div class="modal fade delete">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	  <h4 class="modal-title">Delete Message?</h4>
	</div>
	<div class="modal-body">
	  <p>
	    Are you sure you want to delete
	    &ldquo;{{ active_msg.fields.subject }}&rdquo;?
	  </p>
	  <p>
	    This action cannot be undone.
	  </p>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-default" data-dismiss="modal">Don't Delete</button>
	  <button type="button" class="btn btn-danger" ng-click="delete_node()">Delete</button>
	</div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal.delete -->

  <!-- Modal for deferring a message for later -->
  <div class="modal fade defer">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	  <h4>Defer Message to Future</h4>
	</div>
	<div class="modal-body">
	  <label for="target-date">Scheduled Date:</label>
	  <input id="target-date" type="text"
		 class="form-control datepicker"
		 placeholder="YYYY-MM-DD" />
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-default" data-dismiss="modal">Don't Defer</button>
	  <button type="button" class="btn btn-primary" ng-click="defer_msg()">Defer</button>
	</div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal.defer -->
  {% endverbatim %}
</div>

{% endblock %}
