{% extends 'base.html' %}
{% load gtd_extras %}
{% comment %}
Copyright 2012 Mark Wolf

This file is part of OrgWolf.

OrgWolf is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% block title %}Daily Agenda{% endblock %}
{% block style %}
<style>
.table
{
    width: auto;
}
</style>
{% endblock %}
{% block content %}
<h3>{{ agenda_dt.date }}</h3>
<form action="" method="post" class="form-horizontal">
    <input type="text" name="date" value="{{ agenda_dt|date:"Y-m-d" }}" class="input-medium datepicker" placeholder="Change date..."></input>
    {% csrf_token %}
  <input type="submit" value="Update" class="btn" />
</form>
<h4>Day Specific</h4>
<table class="table table-condensed">
  {% for node in day_specific_nodes %}
  <tr{% if node.overdue %} class="error"{% endif %}>
    <td>
      <a href="{% url 'gtd.views.display_node' node_id=node.id %}" title="{{ node.hierarchy }}">{{ node.overdue }}</a>
    </td>
    <td>
      {{ node.repeats|repeat_icon }}
    </td>
    <td>
      <a href="{% url 'gtd.views.display_node' node_id=node.id %}" title="{{ node.hierarchy }}">{{ node.todo_state.as_html }}</a>
    </td>
    <td>
      <a href="{% url 'gtd.views.display_node' node_id=node.id %}" title="{{ node.hierarchy }}">{{ node.title }}</a>
    </td>
  </tr>
  {% endfor %}
</table>
<h4>Time Specific</h4>
<table class="table table-condensed">
  {% for node in time_specific_nodes %}
  <tr{% if node.overdue %} class="error"{% endif %}>
    <td>
      <a href="{% url 'gtd.views.display_node' node_id=node.id %}" title="{{ node.hierarchy }}">{{ node.overdue }}</a>
    </td>
    <td>
      <a href="{% url 'gtd.views.display_node' node_id=node.id %}" title="{{ node.hierarchy }}">{{ node.scheduled|date:"G:i" }}</a>
    </td>
    <td>
      <a href="{% url 'gtd.views.display_node' node_id=node.id %}" title="{{ node.hierarchy }}">{{ node.todo_state.as_html }}</a>
    </td>
    <td>
      <a href="{% url 'gtd.views.display_node' node_id=node.id %}" title="{{ node.hierarchy }}">{{ node.title }}</a>
    </td>
  </tr>
{% endfor %}
</table>
<hr />
<h3>Upcoming Deadlines</h3>
<table class="table table-condensed">
  {% for node in deadline_nodes %}
  <tr>
    <td>
      <a href="{% url 'gtd.views.display_node' node_id=node.id %}" title="{{ node.hierarchy }}">{{ node.overdue }}</a>
    </td>
    <td>
      <a href="{% url 'gtd.views.display_node' node_id=node.id %}" title="{{ node.hierarchy }}">{{ node.deadline|date:"D d M Y" }}</a>
    </td>
    <td>
      {% if node.deadline_time_specific %}<a href="{% url 'gtd.views.display_node' node_id=node.id %}" title="{{ node.hierarchy }}">{{ node.deadline|date:"G:i" }}</a>{% else %}&nbsp;{% endif %}
    </td>
    <td><a href="{% url 'gtd.views.display_node' node_id=node.id %}" title="{{ node.hierarchy }}">{{ node.title }}</a></td>
  </tr>
{% endfor %}
</table>

{% endblock %}
