<!-- Requirements for aloha HTML 5 editor -->

<!-- load the Aloha Editor core and some plugins -->
{% if local_net %}
  <link href="{{ STATIC_URL }}aloha/css/aloha.css" rel="stylesheet" type="text/css" />
  <script src="{{ STATIC_URL }}aloha/lib/aloha-full.js"
{% else %}
  <link href="http://cdn.aloha-editor.org/latest/css/aloha.css" rel="stylesheet" type="text/css" />
  <script src="http://cdn.aloha-editor.org/latest/lib/aloha-full.js"
{% endif %}
          data-aloha-plugins="common/ui,
                              common/format,
                              common/list,
                              common/link,
			      common/block,
			      common/table,
			      common/undo">
  </script>
 
  <script>
    // Turn off Aloha sidebar
    Aloha.settings.sidebar = {disabled: true};
    Aloha.settings.plugins = {
	format: {
	    config: ['b', 'i', 'del', 'sub', 'sup', 'p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'pre', 'removeFormat'],
	}
    };
  </script>
