<!-- Requirements for aloha HTML 5 editor -->

<!-- Fix jQuery clashes -->
<script src="//d3gzqqhcn53l2y.cloudfront.net/latest/lib/vendor/jquery-1.7.2.js"></script>
<script>
  Aloha = window.Aloha || {};
  Aloha.settings = Aloha.settings || {};
  // Restore the global $ and jQuery variables of your project's jQuery
  Aloha.settings.jQuery = window.jQuery.noConflict(true);
</script>

<!-- load the Aloha Editor core and some plugins -->
{% if local_net %}
<script src="{{ STATIC_URL }}aloha/lib/aloha.js"
{% else %}
<script src="//d3gzqqhcn53l2y.cloudfront.net/latest/lib/aloha.js"
{% endif %}
        data-aloha-plugins="common/ui,
                            common/format,
                            common/highlighteditables,
                            common/list,
                            common/link,
			    common/block,
			    common/table,
			    common/undo">
</script>

<!-- Aloha configuration -->
<script>
    // Turn off Aloha sidebar
    Aloha.settings.sidebar = {disabled: true};
    Aloha.settings.plugins = {
	format: {
	    config: ['b', 'i', 'del', 'sub', 'sup', 'p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'pre', 'removeFormat'],
	    editables: {
		'.edit-title': []
	    }
	},
	link: {
	    editables: {
		'.edit-title': []
	    }
	},
	list: {
	    editables: {
		'.edit-title': []
	    }
	}
    };
</script>
