{% extends 'base.html' %}
{% comment %}
Copyright 2012 Mark Wolf

This file is part of OrgWolf.

OrgWolf is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% block title %}
{% if current_context %}{{ current_context.name }} List
{% else %}ToDo Lists
{% endif %}
{% endblock %}
{% block content %}
{# Filters #}
<form action="" method="POST">
  {% include 'scope_filter.html' %}
  Context:
  <select name="context">
    <option value="0"
	    {% if current_context = None %}selected="selected"{% endif %}>
      None
    </option>
    {% for context in all_contexts %}
    <option value="{{context.id}}"
	    {% if current_context.id = context.id %} selected="selected"{% endif %}>
      {{context.name}}
    </option>
    {% endfor %}
  </select><br />
  {% for todo_state in all_todo_states_query %}
  <label for="todo{{ todo_state.id }}" class="checkbox inline">
  <input type="checkbox" 
	 id="todo{{ todo_state.id }}" 
	 name="todo{{ todo_state.id }}" 
	 value="Yes"  
	 {% if todo_state in todo_states_query %}checked="checked" {% endif %}/>
{{ todo_state.abbreviation }}</label>
  {% endfor %}
  <input type="submit" value="Filter" />
  {% csrf_token %}
</form>
{# Display nodes (if any exist #}
{% if nodes %}
<table class="table table-condensed">
  <tr>
    <th>State</th>
    <th>Description</th>
    <th>Tags</th>
  </tr>
  {% for node in nodes %}
  <tr>
    <td>
      <a href="{% url 'gtd.views.display_node' node_id=node.id %}" title="{{ node.get_hierarchy_as_string }}">{{ node.todo_state.abbreviation }}</a>
    </td>
    <td><a href="{% url 'gtd.views.display_node' node_id=node.id %}" title="{{ node.get_hierarchy_as_string }}">{{ node.title }}</a></td>
    <td><a href="{% url 'gtd.views.display_node' node_id=node.id %}" title="{{ node.get_hierarchy_as_string }}">{{ node.tag_string }}</a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
{# No nodes matched so display an error message #}
<h4>No items matched your criteria. Please change filters and resubmit.</h4>
{% endif %}
{% endblock %}
