<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Jasmine Spec Runner v2.0.0</title>

    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}/jasmine-2.0.0/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/jasmine-2.0.0/jasmine.css">

    <script type="text/javascript"
	    src="{{ STATIC_URL }}/jasmine-2.0.0/jasmine.js"></script>
    <script type="text/javascript"
	    src="{{ STATIC_URL }}/jasmine-2.0.0/jasmine-html.js"></script>
    <script type="text/javascript"
	    src="{{ STATIC_URL }}/jasmine-2.0.0/boot.js"></script>

    <script type="text/javascript"
	    src="{{ STATIC_URL }}jquery-2.0.3.js"></script>
    <script type="text/javascript"
	    src="{{ STATIC_URL }}bootstrap-switch.min.js"></script>

    <script type="text/javascript"
	    src="{{ STATIC_URL }}angular-1.2.7/angular.js"></script>
    <script type="text/javascript"
	    src="{{ STATIC_URL }}angular-1.2.7/angular-mocks.js"></script>
    <script type="text/javascript"
	    src="{{ STATIC_URL }}angular-1.2.7/angular-animate.js"></script>
    <script type="text/javascript"
	    src="{{ STATIC_URL }}angular-1.2.7/angular-resource.js"></script>
    <script type="text/javascript"
	    src="{{ STATIC_URL }}angular-1.2.7/angular-sanitize.js"></script>
    <script type="text/javascript"
	    src="{{ STATIC_URL }}angular-1.2.7/angular-route.js"></script>

    <!-- include source files here... -->
    <!-- <script type="text/javascript" src="src/Player.js"></script> -->
    <!-- <script type="text/javascript" src="src/Song.js"></script> -->
    <script type="text/javascript"
	    src="{{ STATIC_URL }}gtd-services.js"></script>
    <script type="text/javascript"
	    src="{{ STATIC_URL }}gtd-directives.js"></script>
    <script type="text/javascript"
	    src="{{ STATIC_URL }}gtd-filters.js"></script>
    <script type="text/javascript"
	    src="{{ STATIC_URL }}gtd-main.js"></script>
    <script type="text/javascript"
	    src="{{ STATIC_URL }}wolfmail-services.js"></script>
    <script type="text/javascript"
	    src="{{ STATIC_URL }}wolfmail-directives.js"></script>
    <script type="text/javascript"
	    src="{{ STATIC_URL }}wolfmail-filters.js"></script>
    <script type="text/javascript"
	    src="{{ STATIC_URL }}wolfmail-ctrl.js"></script>

    <!-- include spec files here... -->
    <script type="text/javascript"
	    src="{{ STATIC_URL }}/gtd-tests.js"></script>
    <script type="text/javascript"
	    src="{{ STATIC_URL }}/wolfmail-tests.js"></script>

  </head>

  <body>
  </body>
</html>
