{% extends 'base.html' %}

{% block title %}Jasmine Spec Runner | OrgWolf{% endblock %}

{% block favicon %}
<link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}bower/jasmine/images/jasmine_favicon.png">
{% endblock %}

{% block all_style %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bower/jasmine/lib/jasmine-core/jasmine.css">
{% endblock %}

{% block script %}{% endblock %}

{% block all_script %}
<script src="{{ STATIC_URL }}bower/jasmine/lib/jasmine-core/jasmine.js"></script>
<script src="{{ STATIC_URL }}bower/jasmine/lib/jasmine-core/jasmine-html.js"></script>
<script src="{{ STATIC_URL }}bower/jasmine/lib/jasmine-core/boot.js"></script>
{{ block.super }}
<script src="{{ STATIC_URL }}bower/angular-mocks/angular-mocks.js"></script>
<!-- include spec files here... -->
<script src="{{ STATIC_URL }}gtd-tests.js"></script>
<script src="{{ STATIC_URL }}wolfmail-tests.js"></script>
{% endblock %}

{% block body %}{% endblock %}
