{% extends 'base.html' %}
{% load accounts %}
{% comment %}
Copyright 2012 Mark Wolf

This file is part of OrgWolf.

OrgWolf is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block script %}
<script type="text/javascript">

</script>
{% endblock %}

{% block style %}
<!-- landing.html style block -->
<style type="text/css">
.logo
{
    width: 20%;
}

#login .cancel
{
    display: none;
}
.login-frame
{
    /* display: inline-block; */
    /* width: 45%;s */
}
</style>
{% endblock %}

{% block nav %}
<!-- Nav bar disabled for landing page -->
{% endblock %}

{% block search %}
<!-- Search box disabled for landing page -->
{% endblock %}

{% block content %}
{# Logo #}
{% if debug %}
<a href="/" title="Back to landing page"><img src="{{ STATIC_URL }}orgwolf-logo-debug-big.png" alt="OrgWolf Logo" class="logo"></img></a>
{% else %}
<a href="/" title="Back to landing page" class="logo"><img src="{{ STATIC_URL }}orgwolf-logo-big.jpg" alt="OrgWolf Logo" class="logo"></img></a>
{% endif %}
<h2>Unburden Your Mind!</h2>

<p>This site is under construction. If you would like to be notified of changes, please e-mail mark[dot]wolf[dot]music[at]gmail[dot]com.</p>
<div class="row">
  <div class="login-frame span5 offset1">
    <h3>Already registered?<br />Login here...</h3>
    {% include 'registration/login_form.html' %}
  </div>

  <div class="login-frame span6">
    <h3>New user?<br/>Register here...</h3>
    {% include 'registration/new_user_form.html' %}
  </div>
</div>
{% endblock %}
