{% load gtd_extras %}
{% load nav %}
<!DOC html>
<html>
  <head>
    <title>{% block title %}Todo: Add page title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}orgwolf-icon-114.png" />
    {% if debug %}
    <link rel="icon"
	  type="image/png"
	  href="{{ STATIC_URL }}orgwolf-icon-debug.png" />
    {% else %}
    <link rel="icon"
	  type="image/png"
	  href="{{ STATIC_URL }}orgwolf-icon.ico" />
    {% endif %}

    {% if local_net %}
    <link rel="stylesheet" type="text/css"
	  href="{{ STATIC_URL }}jquery.mobile-1.2.0.css" />
    {% else %}
    <link rel="stylesheet" type="text/css"
	  href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
    {% endif %}

    {% if debug %}
    <link rel="stylesheet" type="text/css"
	  href="{{ STATIC_URL }}jqm-icons.css" />
    <link rel="stylesheet" type="text/css"
	  href="{{ STATIC_URL }}social/auth-buttons.css" />
    <link rel="stylesheet" type="text/css"
	  href="{{ STATIC_URL }}orgwolf_m.less" />
    <script src="{{ STATIC_URL }}less-1.3.3.min.js"
	    type="text/javascript"></script>
    {% else %}
    <link rel="stylesheet" type="text/css"
	  href="{{ STATIC_URL }}orgwolf_m.css" />
    {% endif %}

    {% if local_net %}
    <script
       src="{{ STATIC_URL }}jquery-1.8.3.min.js">
    </script>
    <script
       src="{{ STATIC_URL }}jquery.mobile-1.2.0.js">
    </script>
    {% else %}
    <script
       src="http://code.jquery.com/jquery-1.9.1.min.js">
    </script>
    <script 
       src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js">
    </script>
    {% endif %}

    {% if debug %}
    <script src="{{ STATIC_URL }}jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}orgwolf_m.js"></script>
    {% else %}
    <script src="{{ STATIC_URL }}orgwolf_m.min.js"></script>
    {% endif %}

    {% block style %}
    <style type="text/css">
    a.logo
    {
	text-decoration: none;
	color: white !important;
    }
    .bulletless
    {
	list-style-type: none;
    }
    </style>
    {% endblock %}
  </head>
  <body>
    <div data-role="page" id="main">
      {% block header  %}
      <div data-role="header">
	<a href="/" data-icon="home">Home</a>
	<h1><a href="/" class="logo">OrgWolf</a></h1>
	<a href="#options-popup" data-rel="popup" data-icon="gear" id="options-btn">Options</a>
	<div data-role="popup" id="options-popup">
	  <ul data-role="listview">
	    <li><a href="https://github.com/m3wolf/orgwolf/issues/new/">Feedback</a></li>
	    <li><a href="/admin/">Admin</a></li>
	    <li><a href="{% url 'gtd.views.node_search' %}">Search</a></li>
	    <li><a href="/accounts/logout/">Logout ({{ request.user }})</a></li>
	  </ul>
	</div>
	{% block nav %}
	<div data-role="navbar">
	  <ul>
	    <li>
	      {% nav_link Agenda 'gtd.views.agenda_display' %}
	    </li>
	    <li>
	      {% nav_link Actions 'gtd.views.list_display' '/next' %}
	    </li>
	    <li>
	      {% nav_link Projects 'node_object' %}
	    </li>
	  </ul>
	</div>
      </div>
      {% endblock %}
      {% endblock %}

      {% block content %}
      {% endblock %}
    </div>
    {% block other_pages %}
    {% endblock %}
  </body>
</html>
