{% extends 'base.html' %}
{% comment %}
Copyright 2012 Mark Wolf

This file is part of OrgWolf.

OrgWolf is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{# Breadcrumb trail #}
{% block content %}
<a href="/projects/">Project List</a>
{% for node in breadcrumb_list %}&gt;
  <a href="/projects/{{node.id}}/">{{node.display}}</a>
{% endfor %}
<h3>{{ node.title }}</h3>
<form action="" method="POST">
{% csrf_token %}
<input type="submit" value="Save"/><a href="../">Cancel</a>
<table>
{{ form.as_table }}
</table>
</form>
{% endblock %}
