{% extends 'base.html' %}
{% block title %}QUnit Test Runner{% endblock %}

{% block all_style %}
<!-- <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css" /> -->
<link rel="stylesheet" href="{{ STATIC_URL }}qunit-1.10.0.css"></link>
<link rel="stylesheet" href="{{ STATIC_URL }}orgwolf.css"></link>

{% endblock %}
{% block nav %}
{% endblock %}
{% block all_script %}
<script src="{{ STATIC_URL }}jquery-1.8.3.min.js"></script>
<script src="{{ STATIC_URL }}jquery.mockjax.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}orgwolf.js"></script>
{% include 'aloha.html' %}
{% endblock %}


{% block content %}
<div id="qunit"></div>
<div id="qunit-fixture">
  <!-- Aloha text editor -->
  <div class="ow-text">Hello</div>
  <!-- Project outline plugin -->
  <div class="ow-outline" id="test_workspace" node_id="0">
  </div>
  <!-- TodoState plugin -->
  <div id="todo-test">NEXT</div>
  <!-- Agenda plugin -->
  <div class="agenda" id="agenda-div">
    <h2 class="date">Today</h2>
    <h2 class="other">Daily</h2>
    <form class="date" action="">
      <input type="text" name="date"></input>
      <input type="submit"></input>
    </form>
    <table class="daily">
      <tr node_id="20"><td class="todo-state"></td></tr>
    </table>
    <table class="timely">
    </table>
    <table class="deadlines">
    </table>
  </div>
  <!-- Next action list -->
  <table id="node-list">
    <tr class="list-node" node_id="1">
      <td class="todo-state" todo_id="1">NEXT</td>
    </tr>
  </table>
  <!-- JS node editing plugin -->
  <div id="node-edit-test">
    <a href="edit/" id="edit-btn">Edit</a>
    <dl id="node-detail">
      <dt>Todo State:</dt>
      <dd>HARD - Hard Scheduled</dd>
      <dt>Scheduled</dt>
      <dd>Today</dd>
    </dl>
  </div>
  <!-- JS Todo buttons plugin -->
  <form id="todo-buttons" node_id="7"><div>
    <button type="submit" value="0" class="active">None</button>
    <button type="submit" value="1">Next</button>
  </form>
</div><!-- /div id="qunit-fixture" -->
<script src="{{ STATIC_URL }}qunit-1.10.0.js"></script>
<!-- Add QUnit imports here -->
<script src="{{ STATIC_URL }}project_outline-test.js"></script>
<!-- End QUnit tests -->
{% endblock %}
